{
  "openapi": "3.0.2",
  "info": {
    "title": "Creditsafe Connect OpenAPI Documentation",
    "description": "<h2>Introduction</h2> Creditsafe Connect is a REST API that provides access to the <a href=\"https://www.creditsafe.com/gb/en/more/about/our-data.html\">Creditsafe Global Company Database</a> allowing you to control your master data, utlise up-to-date Business and Director information to enhance your onboarding and qualification processes, and get alerts when your customer's and supplier's Credit Report changes. <h2>Quick Start</h2> To start your Creditsafe Connect API integration you will need to have activated your account and set a password by following the instructions in your Welcome Email. If you have not received a Welcome Email please contact your Creditsafe Account Manager.</br></br>\nUsing a REST API client construct an `/authenticate` POST request and enter your username & password (case-sensitive) into the POST body. A successful response will return an  `authentication token`.</br></br>\nUse the `authentication token` in an `Authorization` header on all other Creditsafe Connect calls as proof of your authenticity.\n<h2>Resources</h2> <ul> <li><a href=\"https://creditsafe.github.io/connect-docs/swagger.html\">OpenAPI</a> specification. <li><a href=\"https://www.getpostman.com/collections/3aa74cc7318e44aeb96d\">Postman Collection</a> of the most common example calls to Creditsafe Connect.</li> <li><a href=\"https://connect-portal.creditsafe.com\"> A Front End Demo Site</a>. Use this as a quick easy way to validate your username & password and form requests.</li> <li><a href=\"https://creditsafe.freshdesk.com/en/support/solutions/categories/7000007071/folders/7000018640\"> Help Articles</a>  including FAQs, Data Dictionaries and a Feature Availability Matrix. </ul>",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://connect.creditsafe.com/v1"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Endpoint to generate a Bearer JWT (Authentication Token). It is mandatory to include this token under the Header  `Authorization` When calling all other endpoints as proof of authenticity. Tokens can exist concurrently and persist for 1 hour from its issued time."
    },
    {
      "name": "Companies",
      "description": "Endpoints to search for Companies in the Creditsafe Global Company Database. When a company is found you can use the `connectId` to order their Company Credit Report. The Company Credit Report is a JSON object comprising of key business and financial data points such as Credit Score & Limit, Industry Code, Directors, Balance Sheet and Negative Information. A full list of Company data points can be found in the Data Matrix, in the help resources. "
    },
    {
      "name": "People/Directors",
      "description": "Endpoints to find People/Directors and order Director Reports. A Director Report will contain a person's registered information and Active & Previous Directorships, where available. This endpoint is not advised to get a list of directors for a specifc Company. Instead, order a Company Credit Report using the `/companies/{id}` endpoint, and use  the `directors` section in the response."
    },
    {
      "name": "Images",
      "description": "Endpoints to order official Company Image Documents from original sources. Company Filings such as Annual Account Statements, Annual Returns, Liquidations and Changes of Registered Information can be downloaded as PDFs, and are typically used as a resource in extended company auditing/compliance."
    },
    {
      "name": "Fresh Investigations",
      "description": "Endpoints to manage Fresh Investigation requests. With the need for accurate data, you can check on any company that is not available within our instant online database by placing a Fresh Investigation (Offline Order). Depending on the market, the information we obtain will vary. Using official sources and registries we are able to quickly answer questions about a company’s stability and financial health. Where official information is not available we will conduct a direct interview with the business."
    },
    {
      "name": "Global Monitoring",
      "description": "Endpoints to Monitor changes to Company Information. Company changes can be retrived by creating a Porfolio (a collection of companies) and configuring the `eventRules` (the criteria in which to trigger a change, e.g. company name changes, limit changes) on the portfolio. When a company in your Portfolio changes to satisfy an eventRule, a `notificationEvent` will be raised to inform you of the nature of the change. See <a href=\"https://www.creditsafe.com/gb/en/credit-risk/credit-reports/company-credit-reports/company-monitoring.html\"> here</a> for Creditsafe's Global Monitoring capabilities."
    },
    {
      "name": "Decision Engine",
      "description": "Endpoints to run bespoke credit decisions on Companies. You can find more information on the Decision Engine <a href=\"https://www.creditsafe.com/us/en/enterprise/integrations/decision-engine.html\"> here</a>"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Enter your username and password into the request schema to generate an Authorization Token",
        "operationId": "Generate Authentication Token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authenticationRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authenticationSuccessResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access denied -  Please check that your username and password are correct.  Please be aware that usernames and passwords are case sensitive. If the problem persists, please contact your Creditsafe account manager."
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Endpoint to search for Companies based on the provided Search Criteria. To get the most relevant results, it is recommended to use a unique identifer such as `regNo` where available. If a unique identiifer is not available, use a combination of the companies registered `postCode` and `name` for the next best hit rate.",
        "operationId": "Company Search",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "countries",
            "in": "query",
            "example": "GB",
            "description": "A Comma-separated list of country codes to search for Companies in. The list takes ISO/Alpha 2 format country codes. For example US,GB represents searching for Companies in the United States and Great Britain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Search Language -  Typically only used for Countries where more than one  Company Names exist in different languages. Such as Companies with a Japanese Kanji and English names.",
            "schema": {
              "pattern": "^[a-zA-Z]{2}$",
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "connectId - The primary Company identifier that is used to uniquely identify all companies across Creditsafe''s Universe and Partner Network. This is returned on all Company Search Results. Use this field to use in other operations such as Ordering Company Credit Report by Id, and Adding Company to Monitoing Portfolio. </br></br> [Searching by connectID is a slightly redundant operation (can be used as a fast-lookup to Search Result fields) as the purpose of Search is to obtain this identifier].",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safeNo",
            "in": "query",
            "description": "Safe Number - Creditsafe's identifier on all Companies owned in the Creditsafe Universe. This is returned on all Company Search Results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regNo",
            "in": "query",
            "description": "Local Company Identifier - The Company identifier typically associated with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom Companies House CRN.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vatNo",
            "in": "query",
            "description": "Company VAT Number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Company Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeName",
            "in": "query",
            "description": "Trade Name of the Company, typically used in Countries where Name is not uniquely registered.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acronym",
            "in": "query",
            "description": "A (non-unique) identifier to look for Companies by their more commonly known acronym rather than their lesser known full name. Acronym is predominantly available on French Companies.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exact",
            "in": "query",
            "description": "Provide as true to find Companies matching a Name exactly.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street",
            "in": "query",
            "description": "Address part identifier - Street of the Company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "houseNo",
            "in": "query",
            "description": "Address part identifier - House/Building Number of the Company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Address part identifier - City of the Company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postCode",
            "in": "query",
            "description": "Address part identifier - Postcode/Zip Code of the Company. Can be provided partially to extend to a region with a * as a wildcard. I.e. CF* can represnt all postcodes starting with CF.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "province",
            "in": "query",
            "description": "Address part identifier - Province/State of the Company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone Number of the Company",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "officeType",
            "in": "query",
            "description": "Indicates whether the Company is a Head Office or a Branch",
            "schema": {
              "type": "string",
              "enum": [
                "headOffice",
                "branch"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Indicates whether the Company is Active/Trading",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "nonactive"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Indicates whether the Company is Limited or NonLimited. Countries without a concept of Limited/NonLimited Companies will not be affected by this parameter",
            "schema": {
              "type": "string",
              "enum": [
                "ltd",
                "nonltd"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of Companies per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companySearchSuccessResult"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "companies": [],
                    "totalSize": 0,
                    "messages": [
                      {
                        "code": "NoResults",
                        "text": "No companies matching specified search criteria found.",
                        "type": "Information"
                      }
                    ]
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "Company Credit Report",
        "description": "Orders a Company's Credit Report by connectId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Report Language - The JSON structure of the Report is language invariant, but field content will return as the given language, where available.",
            "schema": {
              "pattern": "^[a-zA-Z]{2}$",
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "Optional parameter to request a Templated Company Report. A Template adds/reduces sections of the Credit Report depending on your subscription. Do not include this parameter if you have not been given a template to use.",
            "schema": {
              "type": "string",
              "default": "full"
            }
          },
          {
            "name": "customData",
            "in": "query",
            "description": "A Key-Value pair (as a string format key::value) that is required for certain Report requests. I.e. German Report Reason Code. Use /reportcustomdata/{country} endpoint to see the necessary structure/values.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The connectId (optionally Safe Number where available) of the Company required to order their Credit Report. Obtained from `/companies` search results.",
            "required": true,
            "example": "GB-0-03836192",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": null,
                  "$ref": "#/components/schemas/gbCompanyReportExampleResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "text/html",
                "schema": {}
              },
              {
                "mediaType": "application/pdf",
                "schema": {}
              },
              {
                "mediaType": "text/pdf",
                "schema": {}
              }
            ]
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/companies/searchcriteria": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Returns the set of available Company Search parameters/fields for a provided list of countries.",
        "operationId": "Company Search Criteria",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of ISO/Alpha 2 format country codes, or singular country Code. e.g. US,GB will return the common searchable Company fields in the United States and Great Britain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "Countries": [
                      "GB",
                      "DE"
                    ],
                    "CriteriaSets": [
                      {
                        "id": {
                          "required": true
                        },
                        "type": {
                          "allowedValues": [
                            "Limited",
                            "NonLimited"
                          ]
                        }
                      },
                      {
                        "safeNo": {
                          "required": true
                        },
                        "type": {
                          "allowedValues": [
                            "Limited",
                            "NonLimited"
                          ]
                        }
                      },
                      {
                        "regNo": {},
                        "vatNo": {},
                        "name": {},
                        "exact": {},
                        "address": {},
                        "city": {},
                        "postCode": {},
                        "status": {
                          "allowedValues": [
                            "Active",
                            "Inactive"
                          ]
                        },
                        "type": {
                          "allowedValues": [
                            "Limited",
                            "NonLimited"
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/companies/schema/{countryCode}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "Company Report JSON Schema",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "section",
            "in": "query",
            "description": "Use CompanyReportResponse for the Company Credit Report JSON schema, DirectorReportResponse for the Director Report JSON schema.",
            "schema": {
              "type": "string",
              "enum": [
                "CompanyReportResponse",
                "DirectorReportResponse"
              ]
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "For Templated Company Report JSON Schemas",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "ISO2 / Alpha 2 Country Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/access/countries": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Returns the available countries in your subscription by operation - Company Report, Director Report, Offline Reports and Monitoring.",
        "operationId": "Countries In Subscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "countryAccess": [
                      {
                        "Creditsafe Connect Online Reports": [
                          {
                            "countryName": "Italy",
                            "countryIso2": "IT",
                            "used": 243
                          },
                          {
                            "countryName": "Belgium",
                            "countryIso2": "BE",
                            "used": 76
                          },
                          {
                            "countryName": "United Kingdom of Great Britain and Northern Ireland",
                            "countryIso2": "GB",
                            "used": 46
                          },
                          {
                            "countryName": "Denmark",
                            "countryIso2": "DK",
                            "used": 5
                          },
                          {
                            "countryName": "Australia",
                            "countryIso2": "AU",
                            "used": 2
                          },
                          {
                            "countryName": "Indonesia",
                            "countryIso2": "ID",
                            "used": 0
                          },
                          {
                            "countryName": "Sweden",
                            "countryIso2": "SE",
                            "used": 10
                          },
                          {
                            "countryName": "United States of America",
                            "countryIso2": "US",
                            "used": 15
                          },
                          {
                            "countryName": "Afghanistan",
                            "countryIso2": "AF",
                            "used": 0
                          },
                          {
                            "countryName": "Yemen",
                            "countryIso2": "YE",
                            "used": 0
                          },
                          {
                            "countryName": "Czech Republic",
                            "countryIso2": "CZ",
                            "used": 0
                          }
                        ]
                      },
                      {
                        "Creditsafe Connect Offline Reports": []
                      },
                      {
                        "Creditsafe Connect Monitoring": []
                      }
                    ],
                    "correlationId": "1a5379d0-f923-11e8-bb11-023a939a59f2"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad Request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/people": {
      "get": {
        "tags": [
          "People/Directors"
        ],
        "description": "Endpoint to find Directors based on search criteria to order a Creditsafe Director Report.",
        "operationId": "People/Director Search",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma-separated list of countries to search for People with registered directorships against. The list takes ISO/Alpha 2 format country codes. For example US,GB represents searching for People/Directorships in the United States and Great Britain.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "connectId - The primary Company identifier that is used to uniquely identify all companies across Creditsafe's Universe and Partner Network.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "regNo",
            "in": "query",
            "description": "Local Company Identifier - The Company identifier typically associated with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom Companies House CRN",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "safeNumber",
            "in": "query",
            "description": "Safe Number - Creditsafe's identifier on all Companies owned in the Creditsafe Universe. This is returned on all Company Search Results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "peopleId",
            "in": "query",
            "description": "Person/Director Identifier - used to order a Director Report.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Person's First Name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Person's Last Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "Company Name of the Director's Company (Only use this for Directorship Searches, unavailable in Director Search)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyNumber",
            "in": "query",
            "description": "Local Registration Idenitifier of the Director's Company (Only use this for Directorship Searches, unavailable in Director Search).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "localDirectorNumber",
            "in": "query",
            "description": "Local Identifier of the Director, the PNR in GB.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "description": "Person DOB - provide YYYY-MM-DD or YYYY-MM format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of directors per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/peopleSearchSuccessResult"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "directors": [],
                    "totalSize": 0,
                    "messages": [
                      {
                        "code": "NoResults",
                        "text": "No directors matching specified search criteria found.",
                        "type": "Information"
                      }
                    ]
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/people/{personId}": {
      "get": {
        "tags": [
          "People/Directors"
        ],
        "operationId": "Director Report",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Report Language - The JSON structure of the Report is language invariant, but field content will return as the given language, where available.",
            "schema": {
              "pattern": "^[a-zA-Z]{2}$",
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "personId",
            "in": "path",
            "description": "Identifier of the Person/Director required to order their Director Report. Obtained from `/people` search results.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z]{2}([0-9]{1,3})?[-]{1}[a-zA-Z0-9$]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {},
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/people/searchcriteria": {
      "get": {
        "tags": [
          "People/Directors"
        ],
        "description": "Returns the set of available People Search parameters/fields for a provided list of countries.",
        "operationId": "People/Director Search Criteria",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of ISO/Alpha 2 format country codes, or singular country Code. e.g. US,GB will return the common searchable People/Director fields in the United States and Great Britain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "countries": [
                      "DE",
                      "FR"
                    ],
                    "criteriaSets": [
                      {
                        "localDirectorNumber": {
                          "required": true
                        }
                      },
                      {
                        "firstName": {
                          "required": false
                        },
                        "lastName": {
                          "required": true
                        },
                        "dateOfBirth": {
                          "required": false
                        },
                        "company": {
                          "id": {
                            "required": false
                          },
                          "regNo": {
                            "required": false
                          },
                          "companyName": {
                            "required": false
                          }
                        },
                        "status": {
                          "allowedValues": [
                            "Current",
                            "Former",
                            "Active",
                            "Inactive"
                          ],
                          "required": false
                        },
                        "address": {
                          "city": {
                            "required": false
                          }
                        }
                      },
                      {
                        "firstName": {
                          "required": false
                        },
                        "lastName": {
                          "required": false
                        },
                        "dateOfBirth": {
                          "required": false
                        },
                        "company": {
                          "id": {
                            "required": true
                          },
                          "regNo": {
                            "required": false
                          },
                          "companyName": {
                            "required": false
                          }
                        },
                        "status": {
                          "allowedValues": [
                            "Current",
                            "Former",
                            "Active",
                            "Inactive"
                          ],
                          "required": false
                        },
                        "address": {
                          "city": {
                            "required": false
                          }
                        }
                      },
                      {
                        "firstName": {
                          "required": false
                        },
                        "lastName": {
                          "required": false
                        },
                        "dateOfBirth": {
                          "required": false
                        },
                        "company": {
                          "id": {
                            "required": false
                          },
                          "regNo": {
                            "required": true
                          },
                          "companyName": {
                            "required": false
                          }
                        },
                        "status": {
                          "allowedValues": [
                            "Current",
                            "Former",
                            "Active",
                            "Inactive"
                          ],
                          "required": false
                        },
                        "address": {
                          "city": {
                            "required": false
                          }
                        }
                      },
                      {
                        "firstName": {
                          "required": false
                        },
                        "lastName": {
                          "required": false
                        },
                        "dateOfBirth": {
                          "required": false
                        },
                        "company": {
                          "id": {
                            "required": false
                          },
                          "regNo": {
                            "required": false
                          },
                          "companyName": {
                            "required": true
                          }
                        },
                        "status": {
                          "allowedValues": [
                            "Current",
                            "Former",
                            "Active",
                            "Inactive"
                          ],
                          "required": false
                        },
                        "address": {
                          "city": {
                            "required": false
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/reportcustomdata/{country}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Endpoint to return mandatory parameters or metadata associated with specific country Company Report requests. To add a custom data parameter, add a Parameter with the key=value pair in the format customData=key::allowedValue I.e. Suppling `DE` as a country code will return a list of reasons for requesting a DE Credit Report (which is a legal requirement to supply with each Credit Report request in Germany). This will provide a list of allowedValues to enter into the mandatory Parameter `customData` = `de_reason_code::allowedValue`",
        "operationId": "Custom Report Parameters",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "template",
            "in": "query",
            "description": "Report template (currently unncessary to provide.)",
            "schema": {
              "type": "string",
              "default": "full"
            }
          },
          {
            "name": "country",
            "in": "path",
            "description": "An ISO/Alpha-2 country code to display any special mandatory parameters when ordering a Credit Report in that territory.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "customData": [
                      {
                        "key": "de_reason_code",
                        "optional": false,
                        "allowedValues": [
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8"
                        ],
                        "description": "DE report retrieval reason code:\n1 - Credit Decisioning\n2 - Credit Assessment - Future business connection (with credit risk)\n3 - Credit Assessment - Existing business connection (with credit risk)\n4 - Realisation check receivables collection\n5 - Purchase Contract - Intention of signature of purchase contract (with credit risk)\n6 - Goods Credit Insurance (with credit risk)\n7 - Contract - Intention of signature of leasing or rent contract (with credit risk)\n8 - Insurance Contract - Intention of signature of a insurance contract (with credit risk)"
                      }
                    ],
                    "country": "DE"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/images/companies": {
      "get": {
        "security": [],
        "tags": [
          "Images"
        ],
        "description": "Returns the available Images for a given Company connectId.",
        "operationId": "Company Image Documents",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "Id",
            "in": "query",
            "description": "The company's connectId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "olderThan",
            "in": "query",
            "description": "Returns Images older than this date. Use with newerThan parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newerThan",
            "in": "query",
            "description": "Returns Images newer than this date. Use with olderThan parameter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listCompanyImages"
                }
              }
            },
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "text/html",
                "schema": {}
              },
              {
                "mediaType": "application/pdf",
                "schema": {}
              },
              {
                "mediaType": "text/pdf",
                "schema": {}
              }
            ]
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": null
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json",
            "x-codegen-request-body-name": "generated"
          }
        }
      }
    },
    "/images/companies/types": {
      "get": {
        "security": [],
        "tags": [
          "Images"
        ],
        "description": "Returns the type of Image that can be returned by for additional meta data.",
        "operationId": "Image Document Category Types",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "countries",
            "in": "query",
            "description": "Filter Images by country.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gbImageTypesResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "text/html",
                "schema": {}
              },
              {
                "mediaType": "application/pdf",
                "schema": {}
              },
              {
                "mediaType": "text/pdf",
                "schema": {}
              }
            ]
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": null
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/images/{imageId}": {
      "get": {
        "tags": [
          "Images"
        ],
        "description": "Endpoint to order an Image Document by Image ID.",
        "operationId": "Company Image",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "Image ID retrieved from `images/companies`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image object as a binary stream.",
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "text/html",
                "schema": {}
              },
              {
                "mediaType": "application/pdf",
                "schema": {}
              },
              {
                "mediaType": "text/pdf",
                "schema": {}
              }
            ]
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/freshInvestigations": {
      "post": {
        "tags": [
          "Fresh Investigations"
        ],
        "description": "Places an order for a Fresh Investigation (Offline Report). Providing as much detail as   possible about the Company, our team will use official sources and registries to quickly answer questions about a company’s stability and financial health. Fresh Investigations take 5.5 days on average to complete.",
        "operationId": "Request Fresh Investigation",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createFreshInvestigationRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "security": [],
        "tags": [
          "Fresh Investigations"
        ],
        "operationId": "List Fresh Investigations",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Company connectId.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Returns a list of historic and ongoing Fresh Investigations.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listFreshInvestigationResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/freshInvestigations/{orderId}": {
      "delete": {
        "tags": [
          "Fresh Investigations"
        ],
        "operationId": "Delete Pending Fresh Invesitgation",
        "description": "Delete pending Fresh Investigation orders",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Delete request has been made successfully on FreshInvestigation OrderId :{orderId}"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      },
      "put": {
        "tags": [
          "Fresh Investigations"
        ],
        "description": "Edit pending Fresh Investigation orders",
        "operationId": "Edit pending Fresh Investigation",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "FreshInvestigation OrderId: {orderId} is being updated"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/user/details": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Endpoint to return all user details relating to the Global Monitoring product.",
        "operationId": "Monitoring user details",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "An array object containing the user's details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userDetails"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/companies/{id}/events": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Endpoint to return a collection of `events` for the given company, optionally filtered on the supplied search criteria. Event information will only be returned if the company exists in at least one of your `portfolios`.",
        "operationId": "Company events",
        "parameters": [
          {
            "$ref": "#/components/parameters/startDate"
          },
          {
            "$ref": "#/components/parameters/endDate"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The connectId of the company that you wish to retrieve events for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companyEventsResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/AccessForbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Event resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/eventRules": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get all available notification event rules. Notification event rules allow you to control which events you wish to monitor for the `companies` contained within a given `portfolio`.",
        "operationId": "All eventRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventRulesResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/AccessForbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "EventRule resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/eventRules/{countryCode}": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get all available notification event rules for the given `countryCode`. Notification event rules allow you to control which events you wish to monitor for the `companies` contained within a given `portfolio`.",
        "operationId": "Filtered eventRules",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "ISO/Alpha 2 format country code for which notification event rules will be retured.",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventRulesResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/AccessForbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "EventRule resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/notificationEvents": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get all notification events generated for companies monitored in your portfolios, based on the notification rules enabled. The notification events returned will be filtered based upon the supplied search criteria.",
        "operationId": "Notification Events",
        "parameters": [
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Return notificationEvents that match the given value",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/sortBy"
          },
          {
            "$ref": "#/components/parameters/sortDir"
          },
          {
            "$ref": "#/components/parameters/startDate"
          },
          {
            "$ref": "#/components/parameters/endDate"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notificationEventsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "NotificationEvent resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "x-amf-queryParameters": {
          "startDate": {
            "required": false,
            "type": "datetime | nil"
          },
          "endDate": {
            "required": false,
            "type": "datetime | nil"
          }
        }
      }
    },
    "/monitoring/portfolios": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Endpoint to get all Portfolios based on the supplied Search Criteria.",
        "operationId": "List all portfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Return portfolios that match the given value",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Starting page number (indexed from 0).",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per Page (max 1000).",
            "schema": {
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "description": "Total number of matching records",
                "schema": {
                  "type": "integer"
                }
              },
              "Link": {
                "description": "Link headers (see https://tools.ietf.org/html/rfc5988#page-6)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "totalCount": 70,
                    "paging": {
                      "size": 100,
                      "last": 0
                    },
                    "data": {
                      "portfolios": [
                        {
                          "portfolioId": 20195,
                          "name": "Connect Portfolio",
                          "isDefault": true,
                          "isSharedPortfolio": 0
                        }
                      ],
                      "sharedPortfolios": []
                    }
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      },
      "post": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Endpoint to create a new Portfolio based on the supplied criteria. A portfolio can contain any number of `companies` that you wish to monitor changes to.",
        "operationId": "Create monitoring portfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PortfolioRequest"
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "portfolioId": 20398,
                    "name": "My New Portfolio",
                    "isDefault": true
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get the portfolio with portfolioId = portfolioId}",
        "operationId": "Retrieve portfolio by Id",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  },
                  "example": {
                    "portfolioId": 123456789,
                    "name": "My new portfolio",
                    "isDefault": true
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      },
      "delete": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Delete the portfolio with portfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio removed"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "{\"message\": \"Portfolio not found\" }\n"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      },
      "patch": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Update Portfolio details",
        "operationId": "Update portfolio details",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": "toDo"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/portfolios/{portfolioId}/countries": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get a list of distinct countries of companies monitored within a portfolio.",
        "operationId": "List countries of monitored companies",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    "FR",
                    "LU",
                    "DE",
                    "DK",
                    "SE"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Portfolio not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/portfolios/{portfolioId}/eventRules": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get all notification `eventRules` for the given `portfolioId`. Notification event rules allow you to control which events you wish to monitor for the `companies` contained within the given `portfolio`.",
        "operationId": "List portfolio eventRules",
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "description": "The unique identifier for the portfolio that you wish to retrieve notification event rules for, obtained from `/portfolios`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of `eventRules` for the given `portfolioId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eventRulesResponse"
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/AccessForbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "EventRule resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/portfolios/{portfolioId}/eventRules/{countryCode}": {
      "get": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Get all eventRules, optionally filtered",
        "operationId": "Get filtered portfolio eventRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country code to show events for",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "description": "Total number of matching records",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "isActive": 0,
                      "ruleCode": 101,
                      "ruleCountryCode": "XX",
                      "ruleType": 4,
                      "ruleTypeName": "Rating band change - 3 input",
                      "name": "International Rating  |Reduce by {0} Band(s) OR Less than Band {1}",
                      "param0": "1",
                      "param1": "A"
                    }
                  ]
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "EventRule resource not found "
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      },
      "put": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Update eventRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country code to show events for",
            "required": true,
            "schema": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": [
                  {
                    "ruleCode": 1801,
                    "ruleCountryCode": "GB",
                    "isActive": 1,
                    "param0": "15"
                  },
                  {
                    "ruleCode": 1802,
                    "ruleCountryCode": "GB",
                    "isActive": 1,
                    "param0": "10"
                  },
                  {
                    "ruleCode": 1815,
                    "ruleCountryCode": "GB",
                    "isActive": 0
                  },
                  {
                    "ruleCode": 1803,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1804,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1814,
                    "ruleCountryCode": "GB",
                    "isActive": 0
                  },
                  {
                    "ruleCode": 1805,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1806,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1807,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1808,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1809,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1810,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1811,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1812,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 1813,
                    "ruleCountryCode": "GB",
                    "isActive": 1
                  },
                  {
                    "ruleCode": 3053,
                    "ruleCountryCode": "GB",
                    "isActive": 0
                  },
                  {
                    "ruleCode": 3054,
                    "ruleCountryCode": "GB",
                    "isActive": 0
                  }
                ]
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {}
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Bad request"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Access forbidden"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "EventRule resource not found"
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          }
        }
      }
    },
    "/monitoring/portfolios/{portfolioId}/eventRules/setDefault": {
      "put": {
        "tags": [
          "Global Monitoring"
        ],
        "description": "Update (set) event rules to default based on the portfolio id",
        "operationId": "Reset portfolio eventRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/authHeader"
          },
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
[...]
