{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Creditsafe Connect"
  },
  "host": "connect.creditsafe.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Companies",
      "description": "Company Endpoint"
    },
    {
      "name": "Monitoring Companies"
    },
    {
      "name": "People/Directors"
    },
    {
      "name": "Decision Engine"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Endpoint to generate a Bearer/JWT Authentication Token based on the users Username & Password. When calling other endpoints, include this token under the Header value Authorization as proof of authenticity (Bearer security scehema is also accepted). Tokens persist for 1 hour after being issued and can exist concurrently.'",
        "operationId": "Generate Auth Token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "generated",
            "required": false,
            "schema": {
              "example": {
                "username": "TOM.NELSON@creditsafe.com",
                "password": "Cx0iC|woIxlgksJ_"
              }
            },
            "x-amf-mediaType": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "token": "eyJraWQiOiJEbUZkQXVITDNKS1hMZFpBcXdTREx2S01tOE5qeE1lXC94eDg3a0Y1ZDR3VT0iLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI0Mjk1ZDIwOC1jZjlkLTRhMzYtYjcxMi0yN2VmODQzYWEzZTUiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLmV1LXdlc3QtMS5hbWF6b25hd3MuY29tXC9ldS13ZXN0LTFfcUNmOURsUVhmIiwiY29nbml0bzp1c2VybmFtZSI6ImNvbm5lY3R1c2VyMzhAbWFpbGluYXRvci5jb20iLCJjdXN0b206Y3NVc2VySWQiOiIxMDAwMDE3Mzc4IiwiYXVkIjoiNXY1ZXJjaHJhdHRiMnFlZDQ2dDJ2OGJ0ZmUiLCJjdXN0b206Y3NVc2VyQ291bnRyeUNvZGUiOiJHQiIsImV2ZW50X2lkIjoiZjY5NTA4NTctMDUwOC0xMWU5LWIxYTYtMjM5ZmMxZWMwMzBlIiwidG9rZW5fdXNlIjoiaWQiLCJjdXN0b206Y3NVc2VyTGFuZ3VhZ2VDb2RlIjoiZW4iLCJhdXRoX3RpbWUiOjE1NDUzODcxNjYsImV4cCI6MTU0NTM5MDc2NiwiaWF0IjoxNTQ1Mzg3MTY2LCJlbWFpbCI6ImNvbm5lY3R1c2VyMzhAbWFpbGluYXRvci5jb20ifQ.YhD6Nr2798pe8Ct1djygKtR7pibzzeHGgWpnduaaKMf468cJyEPH_A7qpcGWDeur0NuYUQvNCAbmtSj_uQWkajOgjwJE3Mt0URVsDDvtdYt3ggRZl6-mByQAcP50HDUxH0SGNLnUeYhAkVbZqoc4PQme-WXwBsGAg2x_kWKRsicfmVfnXE67BDZ06mceC1WpPA72Kg6O-AWcPe5yIC3JpV2N1HWjuPym2fZGv13Rl1gCWSO0NACE069zT6pqePbBr5QWddf-GE6AI0lISmLyF_mTC0NYpGL_k5nl6H-K2mi6e-QcCcfz8eIQHGDFi_icPCXMAtS2WV5lTFw20loQdw"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "401": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access denied -  Please check that your username and password are correct.  Please be aware that usernames and passwords are case sensitive. If the problem persists, please contact your Creditsafe account manager."
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Resource not found"
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Authentication",
      "x-amf-description": "Calls to Connect require a valid JWT Authentication Token to be supplied as a REST Header. An Authentication Token can be generated by calling the POST /authenticate endpoint with your CS Connect credentials. Please note that both username + password are case sensitive."
    },
    "/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Endpoint to search for Companies based on supplied Search Criteria.",
        "operationId": "Searching Companies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "description": "A Comma-separated list of country codes to search for Companies in. The list takes ISO/Alpha 2 format country codes. For example US,GB represents searching for Companies in the United States and Great Britain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Search Language -  Typically only used for Countries where more than one  Company Names exist in different languages. Such as Companies with a Japanese Kanji and English names.",
            "required": false,
            "type": "string",
            "default": "en",
            "pattern": "^[a-zA-Z]{2}$"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Connect Id - The primary Company identifier that is used to uniquely identify all companies across Creditsafe's Universe and Partner Network. This is returned on all Company Search Results. Use this field to use in other operations such as Ordering Company Credit Report by Id, and Adding Company to Monitoing Portfolio. </br></br> [Searching by Connect ID is a slightly redundant operation (can be used as a fast-lookup to Search Result fields) as the purpose of Search is to obtain this identifier].",
            "required": false,
            "type": "string"
          },
          {
            "name": "safeNo",
            "in": "query",
            "description": "Safe Number - Creditsafe's identifier on all Companies owned in the Creditsafe Universe. This is returned on all Company Search Results",
            "required": false,
            "type": "string"
          },
          {
            "name": "regNo",
            "in": "query",
            "description": "Local Company Identifier - The Company identifier typically associated with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom Companies House CRN",
            "required": false,
            "type": "string"
          },
          {
            "name": "vatNo",
            "in": "query",
            "description": "Company VAT Number",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Company Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "tradeName",
            "in": "query",
            "description": "Trade Name of the Company, typically used in Countries where Name is not uniquely registered.",
            "required": false,
            "type": "string"
          },
          {
            "name": "acronym",
            "in": "query",
            "description": "A non-unique identifier to look for Companies by their more commonly known acronym rather than their lesser known full name. Acronym is predominantly available on French Companies.",
            "required": false,
            "type": "string"
          },
          {
            "name": "exact",
            "in": "query",
            "description": "Provide as true to find Companies matching a Name exactly.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "street",
            "in": "query",
            "description": "Address part identifier - Street of the Company",
            "required": false,
            "type": "string"
          },
          {
            "name": "houseNo",
            "in": "query",
            "description": "Address part identifier - House/Building Number of the Company",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "Address part identifier - City of the Company",
            "required": false,
            "type": "string"
          },
          {
            "name": "postCode",
            "in": "query",
            "description": "Address part identifier - Postcode/Zip Code of the Company. Can be provided partially to extend to a region with a * as a wildcard. I.e. CF* can represnt all postcodes starting with CF.",
            "required": false,
            "type": "string"
          },
          {
            "name": "province",
            "in": "query",
            "description": "Address part identifier - Province/State of the Company",
            "required": false,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "Phone Number of the Company",
            "required": false,
            "type": "string"
          },
          {
            "name": "officeType",
            "in": "query",
            "description": "Indicates whether the Company is a Head Office or a Branch",
            "required": false,
            "type": "string",
            "enum": [
              "headOffice",
              "branch"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Indicates whether the Company is Active/Trading",
            "required": false,
            "type": "string",
            "enum": [
              "active",
              "nonactive"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Indicates whether the Company is Limited or NonLimited. Countries without a concept of Limited/NonLimited Companies will not be affected by this parameter",
            "required": false,
            "type": "string",
            "enum": [
              "ltd",
              "nonltd"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of Companies per page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "totalSize": 10780,
                "companies": [
                  {
                    "id": "GB001-1-3031798",
                    "country": "GB",
                    "safeNo": "UK10731246",
                    "name": "BANKS",
                    "address": {
                      "simpleValue": "KIMBOLTON ROAD, BOLNHURST, BEDFORD, BEDFORDSHIRE, MK44 2ES",
                      "street": "BOLNHURST",
                      "city": "BEDFORD",
                      "postalCode": "MK44 2ES"
                    },
                    "status": "Active",
                    "type": "NonLtd",
                    "dateOfLatestChange": "2009-03-31T23:00:00.000Z"
                  },
                  {
                    "id": "GB001-0-04348058",
                    "country": "GB",
                    "regNo": "04348058",
                    "safeNo": "UK03996906",
                    "name": "BANK LTD",
                    "address": {
                      "simpleValue": "HESKETH HOUSE 43-45 PORTMAN SQUARE, 43-45 PORTMAN SQUARE, LONDON, Greater London, W1H 6HN",
                      "street": "43-45 PORTMAN SQUARE",
                      "city": "LONDON",
                      "postalCode": "W1H 6HN"
                    },
                    "status": "Active",
                    "type": "Ltd",
                    "dateOfLatestAccounts": "2016-01-31T00:00:00.000000Z",
                    "dateOfLatestChange": "2018-07-04T15:43:14.000Z",
                    "activityCode": "9999"
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "companies": [],
                "totalSize": 0,
                "messages": [
                  {
                    "code": "NoResults",
                    "text": "No companies matching specified search criteria found.",
                    "type": "Information"
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Companies",
      "x-amf-description": "Endpoint to search for Companies based on supplied Search Criteria."
    },
    "/companies/{id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "Company Report by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Report Language - The JSON structure of the Report is language invariant, but field content will return as the given language, where available.",
            "required": false,
            "type": "string",
            "default": "en",
            "pattern": "^[a-zA-Z]{2}$"
          },
          {
            "name": "template",
            "in": "query",
            "description": "Optional parameter to request a Templated Company Report. A Template adds/reduces sections of the Credit Report depending on your subscription. Do not include this parameter if you have not been given a template to use.",
            "required": false,
            "type": "string",
            "default": "full"
          },
          {
            "name": "customData",
            "in": "query",
            "description": "A Key-Value pair (as a string format key::value) that is required for certain Report requests. I.e. German Report Reason Code. Use /reportcustomdata/{country} endpoint to see the necessary structure/values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Connect Id to order Company Credit Report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "CompanyId": "CN001/X/9382773186",
                "OrderNumber": 0,
                "Language": "EN",
                "ReportCurrency": "CNY",
                "CompanySummary": {
                  "BusinessName": "Zhejiang Shaoxing RuiFeng Rural Commercial Bank Co., Ltd.",
                  "Country": "CN",
                  "CompanyRegistrationNumber": "330621000018996",
                  "MainActivity": {
                    "ActivityCode": "6620",
                    "ActivityDescription": "Monetary Banking Services"
                  },
                  "CompanyStatus": {
                    "Code": "Active",
                    "Text": "Active"
                  },
                  "CreditRating": {
                    "CommonValue": "C",
                    "CommonDescription": "Moderate Risk",
                    "CreditLimit": "CNY 20,000,000",
                    "ProviderValue": {
                      "MaxValue": 600,
                      "MinValue": 100,
                      "Value": 310
                    },
                    "ProviderDescription": "Moderate risk"
                  }
                },
                "CompanyIdentification": {
                  "BasicInformation": {
                    "BusinessName": "Zhejiang Shaoxing RuiFeng Rural Commercial Bank Co., Ltd.",
                    "RegisteredCompanyName": "Zhejiang Shaoxing RuiFeng Rural Commercial Bank Co., Ltd.",
                    "CompanyRegistrationNumber": "330621000018996",
                    "Country": "CN",
                    "DateofCompanyRegistration": "2005-01-28T00:00:00Z",
                    "LegalForm": "Public Company",
                    "TypeofOwnership": "Joint Stock Company",
                    "CompanyStatus": {
                      "Code": "Active",
                      "Text": "Active"
                    },
                    "PrincipalActivity": {
                      "ActivityCode": "6620",
                      "ActivityDescription": "Monetary Banking Services"
                    },
                    "ContactAddress": {
                      "SimpleValue": ", China"
                    }
                  }
                },
                "CreditScore": {
                  "CurrentCreditRating": {
                    "CommonValue": "C",
                    "CommonDescription": "Moderate Risk",
                    "CreditLimit": "CNY 20,000,000",
                    "ProviderValue": {
                      "MaxValue": 600,
                      "MinValue": 100,
                      "Value": 310
                    },
                    "ProviderDescription": "Moderate risk"
                  }
                },
                "ContactInformation": {
                  "MainAddress": {
                    "Address": {
                      "SimpleValue": "Ruifeng, Shao Xing Xian Ke Qiao Street Office",
                      "Street": "Ruifeng, Shao Xing Xian Ke Qiao Street Office",
                      "PostalCode": "312030"
                    },
                    "Country": "CN"
                  }
                },
                "ShareCapitalStructure": {
                  "NominalShareCapital": {
                    "Currency": "CNY",
                    "Value": 1293732441
                  },
                  "IssuedShareCapital": {
                    "Currency": "CNY",
                    "Value": 0
                  }
                },
                "AdditionalInformation": {
                  "Misc": {
                    "LegalRepresentative": "Yu Junhai"
                  },
                  "RegistrationChanges": {
                    "RegistrationChange": [
                      {
                        "DateOfChange": "2015-06-25",
                        "ChangeDescription": "Reg. Capital",
                        "DetailsBeforeChange": "119790.0449",
                        "DetailsAfterChange": "129373.2441"
                      },
                      {
                        "DateOfChange": "2015-06-25",
                        "ChangeDescription": "Reg. Shareholding",
                        "DetailsBeforeChange": "Name: natural person shareholder investment: 7; 163.35; percentage: 0.1364% Name: Yu Guangmin and other internal staff sponsor 1013; Investment: 16114.4775; percentage: 13.4523% Name: social natural initiated 1454; Investment: 18010.6987; percentage: 15.0352% Enterprise Name: Zhejiang Qinye Group Co. Ltd. 95: 74611.4738; investment; percentage: 62.2852%; legal nature: enterprise legal person",
                        "DetailsAfterChange": "Name: natural person shareholder investment: 21; 601.5857; percentage: 0.465% Name: Yu Guangmin and other internal staff sponsor 1011; Investment: 19126.7731; percentage: 14.7842% Name: social natural initiated 1440; Investment: 21421.5268; percentage: 16.5579% Enterprise Name: Zhejiang Qinye Group Co. Ltd. 87: 88223.3585; investment; percentage: 68.1929%; legal nature: enterprise legal person"
                      },
                      {
                        "DateOfChange": "2014-09-19",
                        "ChangeDescription": "Reg. Capital",
                        "DetailsBeforeChange": "108900",
                        "DetailsAfterChange": "119790.0449"
                      },
                      {
                        "DateOfChange": "2014-09-19",
                        "ChangeDescription": "Reg. Capital",
                        "DetailsBeforeChange": "108900",
                        "DetailsAfterChange": "119790.0449"
                      },
                      {
                        "DateOfChange": "2013-07-08",
                        "ChangeDescription": "Reg. Capital",
                        "DetailsBeforeChange": "99000",
                        "DetailsAfterChange": "108900"
                      },
                      {
                        "DateOfChange": "2013-07-08",
                        "ChangeDescription": "Reg. Capital",
                        "DetailsBeforeChange": "99000",
                        "DetailsAfterChange": "108900"
                      }
                    ]
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "text/html",
                "schema": {}
              },
              {
                "mediaType": "application/pdf",
                "schema": {}
              },
              {
                "mediaType": "text/pdf",
                "schema": {}
              }
            ]
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Company Report",
      "x-amf-description": "This endpoint orders a Credit Report for a Company by its Connect Id. </br> The Company Credit Report is a JSON object comprising of key business/financial data points, including its Credit Score & Limit. A full list of Company data points can be found in the Data Dictionaries."
    },
    "/companies/searchcriteria": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Provide a Comma-separated list of country codes to return a set of fields common across all countries to search on",
        "operationId": "Search Criteria",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "description": "A comma separated list of ISO/Alpha 2 format country codes, or singular country Code. e.g. US,GB will return the common searchable Company fields in the United States and Great Britain.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "Countries": [
                  "GB",
                  "DE"
                ],
                "CriteriaSets": [
                  {
                    "id": {
                      "required": true
                    },
                    "type": {
                      "allowedValues": [
                        "Limited",
                        "NonLimited"
                      ]
                    }
                  },
                  {
                    "safeNo": {
                      "required": true
                    },
                    "type": {
                      "allowedValues": [
                        "Limited",
                        "NonLimited"
                      ]
                    }
                  },
                  {
                    "regNo": {},
                    "vatNo": {},
                    "name": {},
                    "exact": {},
                    "address": {},
                    "city": {},
                    "postCode": {},
                    "status": {
                      "allowedValues": [
                        "Active",
                        "Inactive"
                      ]
                    },
                    "type": {
                      "allowedValues": [
                        "Limited",
                        "NonLimited"
                      ]
                    }
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Company Search Criteria",
      "x-amf-description": "Use this to return a set of fields that are available to search on per country, or the common searchable fields in a combination of countries.'"
    },
    "/companies/schema/{countryCode}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "Report JSON Schema",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "section",
            "in": "query",
            "description": "Use CompanyReportResponse for the Company Credit Report JSON schema, DirectorReportResponse for the Director Report JSON schema.",
            "required": false,
            "type": "string",
            "enum": [
              "CompanyReportResponse",
              "DirectorReportResponse"
            ]
          },
          {
            "name": "template",
            "in": "query",
            "description": "For Templated Company Report JSON Schemas",
            "required": false,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "path",
            "description": "ISO2 / Alpha 2 Country Code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {},
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Company Report Schemas",
      "x-amf-description": "Endpoint to retrieve the most up-to-date Report JSON schema for a given country."
    },
    "/access/countries": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Returns the available countries in your subscription by operation - Company Report, Director Report, Offline Reports and Monitoring.",
        "operationId": "Countries In Subscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "countryAccess": [
                  {
                    "Creditsafe Connect Online Reports": [
                      {
                        "countryName": "Italy",
                        "countryIso2": "IT",
                        "used": 243
                      },
                      {
                        "countryName": "Belgium",
                        "countryIso2": "BE",
                        "used": 76
                      },
                      {
                        "countryName": "United Kingdom of Great Britain and Northern Ireland",
                        "countryIso2": "GB",
                        "used": 46
                      },
                      {
                        "countryName": "Denmark",
                        "countryIso2": "DK",
                        "used": 5
                      },
                      {
                        "countryName": "Australia",
                        "countryIso2": "AU",
                        "used": 2
                      },
                      {
                        "countryName": "Indonesia",
                        "countryIso2": "ID",
                        "used": 0
                      },
                      {
                        "countryName": "New Zealand",
                        "countryIso2": "NZ",
                        "used": 0
                      },
                      {
                        "countryName": "Turkey",
                        "countryIso2": "TR",
                        "used": 0
                      },
                      {
                        "countryName": "Guam",
                        "countryIso2": "GU",
                        "used": 0
                      },
                      {
                        "countryName": "American Samoa",
                        "countryIso2": "AS",
                        "used": 0
                      },
                      {
                        "countryName": "Marshall Islands",
                        "countryIso2": "MH",
                        "used": 0
                      },
                      {
                        "countryName": "Micronesia (Federated States of)",
                        "countryIso2": "FM",
                        "used": 0
                      },
                      {
                        "countryName": "Northern Mariana Islands",
                        "countryIso2": "MP",
                        "used": 0
                      },
                      {
                        "countryName": "Palau",
                        "countryIso2": "PW",
                        "used": 1
                      },
                      {
                        "countryName": "Puerto Rico",
                        "countryIso2": "PR",
                        "used": 0
                      },
                      {
                        "countryName": "Virgin Islands (U.S.)",
                        "countryIso2": "VI",
                        "used": 1
                      },
                      {
                        "countryName": "France",
                        "countryIso2": "FR",
                        "used": 1
                      },
                      {
                        "countryName": "Germany",
                        "countryIso2": "DE",
                        "used": 0
                      },
                      {
                        "countryName": "Ireland",
                        "countryIso2": "IE",
                        "used": 0
                      },
                      {
                        "countryName": "Luxembourg",
                        "countryIso2": "LU",
                        "used": 0
                      },
                      {
                        "countryName": "Netherlands",
                        "countryIso2": "NL",
                        "used": 54
                      },
                      {
                        "countryName": "Norway",
                        "countryIso2": "NO",
                        "used": 0
                      },
                      {
                        "countryName": "Sweden",
                        "countryIso2": "SE",
                        "used": 10
                      },
                      {
                        "countryName": "United States of America",
                        "countryIso2": "US",
                        "used": 15
                      },
                      {
                        "countryName": "Afghanistan",
                        "countryIso2": "AF",
                        "used": 0
                      },
                      {
                        "countryName": "Yemen",
                        "countryIso2": "YE",
                        "used": 0
                      },
                      {
                        "countryName": "Czech Republic",
                        "countryIso2": "CZ",
                        "used": 0
                      },
                      {
                        "countryName": "Congo (Democratic Republic of the)",
                        "countryIso2": "CD",
                        "used": 0
                      },
                      {
                        "countryName": "Ecuador",
                        "countryIso2": "EC",
                        "used": 0
                      },
                      {
                        "countryName": "Egypt",
                        "countryIso2": "EG",
                        "used": 1
                      },
                      {
                        "countryName": "Estonia",
                        "countryIso2": "EE",
                        "used": 0
                      },
                      {
                        "countryName": "Finland",
                        "countryIso2": "FI",
                        "used": 0
                      },
                      {
                        "countryName": "Georgia",
                        "countryIso2": "GE",
                        "used": 0
                      },
                      {
                        "countryName": "Greece",
                        "countryIso2": "GR",
                        "used": 0
                      },
                      {
                        "countryName": "Albania",
                        "countryIso2": "AL",
                        "used": 0
                      },
                      {
                        "countryName": "Armenia",
                        "countryIso2": "AM",
                        "used": 0
                      },
                      {
                        "countryName": "Austria",
                        "countryIso2": "AT",
                        "used": 0
                      },
                      {
                        "countryName": "Azerbaijan",
                        "countryIso2": "AZ",
                        "used": 0
                      },
                      {
                        "countryName": "Bahrain",
                        "countryIso2": "BH",
                        "used": 0
                      },
                      {
                        "countryName": "Bangladesh",
                        "countryIso2": "BD",
                        "used": 0
                      },
                      {
                        "countryName": "Belarus",
                        "countryIso2": "BY",
                        "used": 0
                      },
                      {
                        "countryName": "Benin",
                        "countryIso2": "BJ",
                        "used": 0
                      },
                      {
                        "countryName": "Bosnia and Herzegovina",
                        "countryIso2": "BA",
                        "used": 0
                      },
                      {
                        "countryName": "Brazil",
                        "countryIso2": "BR",
                        "used": 0
                      },
                      {
                        "countryName": "Bulgaria",
                        "countryIso2": "BG",
                        "used": 0
                      },
                      {
                        "countryName": "Burkina Faso",
                        "countryIso2": "BF",
                        "used": 0
                      },
                      {
                        "countryName": "Cambodia",
                        "countryIso2": "KH",
                        "used": 0
                      },
                      {
                        "countryName": "Canada",
                        "countryIso2": "CA",
                        "used": 0
                      },
                      {
                        "countryName": "China",
                        "countryIso2": "CN",
                        "used": 1
                      },
                      {
                        "countryName": "Colombia",
                        "countryIso2": "CO",
                        "used": 0
                      },
                      {
                        "countryName": "Croatia",
                        "countryIso2": "HR",
                        "used": 0
                      },
                      {
                        "countryName": "Hong Kong",
                        "countryIso2": "HK",
                        "used": 0
                      },
                      {
                        "countryName": "Hungary",
                        "countryIso2": "HU",
                        "used": 0
                      },
                      {
                        "countryName": "Iceland",
                        "countryIso2": "IS",
                        "used": 0
                      },
                      {
                        "countryName": "India",
                        "countryIso2": "IN",
                        "used": 0
                      },
                      {
                        "countryName": "Japan",
                        "countryIso2": "JP",
                        "used": 0
                      },
                      {
                        "countryName": "Jordan",
                        "countryIso2": "JO",
                        "used": 0
                      },
                      {
                        "countryName": "Kazakhstan",
                        "countryIso2": "KZ",
                        "used": 0
                      },
                      {
                        "countryName": "Korea (Republic of ) South",
                        "countryIso2": "KR",
                        "used": 0
                      },
                      {
                        "countryName": "Kosovo",
                        "countryIso2": "XK",
                        "used": 0
                      },
                      {
                        "countryName": "Kuwait",
                        "countryIso2": "KW",
                        "used": 0
                      },
                      {
                        "countryName": "Kyrgyzstan",
                        "countryIso2": "KG",
                        "used": 0
                      },
                      {
                        "countryName": "Lao People's Democratic Republic",
                        "countryIso2": "LA",
                        "used": 0
                      },
                      {
                        "countryName": "Latvia",
                        "countryIso2": "LV",
                        "used": 0
                      },
                      {
                        "countryName": "Lebanon",
                        "countryIso2": "LB",
                        "used": 0
                      },
                      {
                        "countryName": "Liechtenstein",
                        "countryIso2": "LI",
                        "used": 0
                      },
                      {
                        "countryName": "Lithuania",
                        "countryIso2": "LT",
                        "used": 0
                      },
                      {
                        "countryName": "Macedonia (the former Yugoslav Republic of)",
                        "countryIso2": "MK",
                        "used": 0
                      },
                      {
                        "countryName": "Malaysia",
                        "countryIso2": "MY",
                        "used": 0
                      },
                      {
                        "countryName": "Malta",
                        "countryIso2": "MT",
                        "used": 0
                      },
                      {
                        "countryName": "Moldova (Republic of)",
                        "countryIso2": "MD",
                        "used": 0
                      },
                      {
                        "countryName": "Montenegro",
                        "countryIso2": "ME",
                        "used": 0
                      },
                      {
                        "countryName": "Myanmar",
                        "countryIso2": "MM",
                        "used": 0
                      },
                      {
                        "countryName": "Nepal",
                        "countryIso2": "NP",
                        "used": 0
                      },
                      {
                        "countryName": "Oman",
                        "countryIso2": "OM",
                        "used": 0
                      },
                      {
                        "countryName": "Pakistan",
                        "countryIso2": "PK",
                        "used": 0
                      },
                      {
                        "countryName": "Palestinian Territory - Occupied",
                        "countryIso2": "PS",
                        "used": 0
                      },
                      {
                        "countryName": "Poland",
                        "countryIso2": "PL",
                        "used": 0
                      },
                      {
                        "countryName": "Portugal",
                        "countryIso2": "PT",
                        "used": 0
                      },
                      {
                        "countryName": "Qatar",
                        "countryIso2": "QA",
                        "used": 0
                      },
                      {
                        "countryName": "Romania",
                        "countryIso2": "RO",
                        "used": 0
                      },
                      {
                        "countryName": "Russian Federation",
                        "countryIso2": "RU",
                        "used": 0
                      },
                      {
                        "countryName": "Saudi Arabia",
                        "countryIso2": "SA",
                        "used": 0
                      },
                      {
                        "countryName": "Serbia",
                        "countryIso2": "RS",
                        "used": 0
                      },
                      {
                        "countryName": "Singapore",
                        "countryIso2": "SG",
                        "used": 0
                      },
                      {
                        "countryName": "Slovakia",
                        "countryIso2": "SK",
                        "used": 0
                      },
                      {
                        "countryName": "Slovenia",
                        "countryIso2": "SI",
                        "used": 0
                      },
                      {
                        "countryName": "Spain",
                        "countryIso2": "ES",
                        "used": 0
                      },
                      {
                        "countryName": "Sri Lanka",
                        "countryIso2": "LK",
                        "used": 0
                      },
                      {
                        "countryName": "Sudan",
                        "countryIso2": "SD",
                        "used": 0
                      },
                      {
                        "countryName": "Switzerland",
                        "countryIso2": "CH",
                        "used": 1
                      },
                      {
                        "countryName": "Syrian Arab Republic",
                        "countryIso2": "SY",
                        "used": 0
                      },
                      {
                        "countryName": "Taiwan, Province of China",
                        "countryIso2": "TW",
                        "used": 0
                      },
                      {
                        "countryName": "Tajikistan",
                        "countryIso2": "TJ",
                        "used": 0
                      },
                      {
                        "countryName": "Thailand",
                        "countryIso2": "TH",
                        "used": 0
                      },
                      {
                        "countryName": "Turkmenistan",
                        "countryIso2": "TM",
                        "used": 0
                      },
                      {
                        "countryName": "Ukraine",
                        "countryIso2": "UA",
                        "used": 0
                      },
                      {
                        "countryName": "United Arab Emirates",
                        "countryIso2": "AE",
                        "used": 0
                      },
                      {
                        "countryName": "Uzbekistan",
                        "countryIso2": "UZ",
                        "used": 0
                      },
                      {
                        "countryName": "Venezuela (Bolivarian Republic of)",
                        "countryIso2": "VE",
                        "used": 0
                      },
                      {
                        "countryName": "Viet Nam",
                        "countryIso2": "VN",
                        "used": 0
                      },
                      {
                        "countryName": "Western Sahara",
                        "countryIso2": "EH",
                        "used": 0
                      },
                      {
                        "countryName": "Public Limited Company",
                        "countryIso2": "PLC",
                        "used": 0
                      }
                    ]
                  },
                  {
                    "Creditsafe Connect Offline Reports": []
                  },
                  {
                    "Creditsafe Connect Monitoring": []
                  }
                ],
                "correlationId": "1a5379d0-f923-11e8-bb11-023a939a59f2"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad Request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Country Access",
      "x-amf-description": "Returns a list of Us"
    },
    "/people": {
      "get": {
        "description": "Get directors based on the search request",
        "operationId": "Searching People / Directors",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "description": "A comma-separated list of countries to search for People with registered directorships against. The list takes ISO/Alpha 2 format country codes. For example US,GB represents searching for People/Directorships in the United States and Great Britain.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Connect Id - The primary Company identifier that is used to uniquely identify all companies across Creditsafe's Universe and Partner Network.",
            "required": false,
            "type": "string"
          },
          {
            "name": "regNo",
            "in": "query",
            "description": "Local Company Identifier - The Company identifier typically associated with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom Companies House CRN",
            "required": false,
            "type": "string"
          },
          {
            "name": "safeNumber",
            "in": "query",
            "description": "Safe Number - Creditsafe's identifier on all Companies owned in the Creditsafe Universe. This is returned on all Company Search Results",
            "required": false,
            "type": "string"
          },
          {
            "name": "peopleId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "firstName",
            "in": "query",
            "description": "Person's First Name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Person's Last Name",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "companyNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "localDirectorNumber",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "houseNo",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "street",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "postCode",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "province",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateOfBirth",
            "in": "query",
            "description": "Person DOB - provide YYYY-MM-DD or YYYY-MM format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of Companies per page",
            "required": false,
            "type": "integer"
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "totalSize": 158,
                "directors": [
                  {
                    "firstName": "Roland J.",
                    "lastName": "Bank",
                    "country": "DE",
                    "company": {
                      "id": "DE-0-DE01052297",
                      "companyName": "Berufsförderungswerk der Fachgemeinschaft Bau Berlin und Brandenburg Gemeinnützige GmbH",
                      "safeNumber": "DE01052297",
                      "type": "Ltd",
                      "regNo": "HRB 40555 B"
                    },
                    "address": {
                      "simpleValue": "12277, Berlin",
                      "city": "Berlin",
                      "postCode": "12277"
                    },
                    "status": "former",
                    "dateOfLatestChange": "2019-02-19T21:26:57.000Z",
                    "dateOfBirth": "1947-07-13T00:00:00.000000Z",
                    "localDirectorNumber": "DE01052297_10002486321",
                    "score": 10.625822,
                    "numEmployeesfrom": 100,
                    "numEmployeesTo": 199
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "directors": [],
                "totalSize": 0,
                "messages": [
                  {
                    "code": "NoResults",
                    "text": "No directors matching specified search criteria found.",
                    "type": "Information"
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "People",
      "x-amf-description": "Endpoint to search for Directors/People based on supplied Search Criteria."
    },
    "/people/{personId}": {
      "get": {
        "operationId": "Director Report by Id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "language the report is requested in.",
            "required": false,
            "type": "string",
            "default": "en",
            "pattern": "^[a-zA-Z]{2}$"
          },
          {
            "name": "callRef",
            "in": "query",
            "description": "Call Reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "personId",
            "in": "path",
            "description": "the identifier of director.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{2}([0-9]{1,3})?[-]{1}[a-zA-Z0-9$]+$"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "value": {
                  "orderId": "N/A",
                  "directorId": "US-375132490",
                  "dateOfOrder": "2019-05-08T03:22:57.258Z",
                  "userId": "1000017378",
                  "report": {
                    "directorId": "US-375132490",
                    "directorSummary": {
                      "activeAppointments": 1,
                      "inactiveAppointments": 0,
                      "resignedAppointments": 0
                    },
                    "directorDetails": {
                      "name": "JIM  ALFRED",
                      "firstName": "JIM",
                      "surname": "ALFRED",
                      "address": {
                        "simpleValue": "29 ALFRED DR, BRIDGEPORT, WV 26330",
                        "street": "29 ALFRED DR",
                        "city": "BRIDGEPORT",
                        "postalCode": "26330",
                        "province": "WV",
                        "country": "US"
                      },
                      "gender": "Unknown",
                      "directorType": "Person",
                      "hasNegativeInfo": false
                    },
                    "directorships": {
                      "currentActive": [
                        {
                          "id": "375132490",
                          "companyName": "ALFRED CONSTRUCTION INC",
                          "companyNumber": "US43573475",
                          "status": 0,
                          "position": {
                            "positionName": "PRESIDENT"
                          },
                          "legalCount": 2,
                          "legalAmount": 971,
                          "creditRating": {
                            "commonValue": "B",
                            "commonDescription": "Low Risk",
                            "creditLimit": {
                              "value": "75000"
                            },
                            "providerValue": {}
                          },
                          "dbt": 0
                        }
                      ]
                    }
                  }
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "enum": [
                    "Policy 456183: The Authorization header has invalid format",
                    "Policy 456183: The message does not contain the Authorization header",
                    "Policy 456183: JWT is not valid"
                  ]
                }
              },
              "example": {
                "error": "Policy 456183: The Authorization header has invalid format"
              },
              "additionalProperties": {}
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Resource not found"
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-displayName": "Person / Director Report",
      "x-amf-description": "This endpoint orders a Director Report on a Person by their identifier. </br> The Director Report is a JSON object comprising of information about Current/Previous directorships/appointments"
    },
    "/people/searchcriteria": {
      "get": {
        "description": "Get the people search criteria based on the country",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "description": "accepts a comma separated list of Country codes",
            "required": false,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "countries": [
                  "DE",
                  "FR"
                ],
                "criteriaSets": [
                  {
                    "localDirectorNumber": {
                      "required": true
                    }
                  },
                  {
                    "firstName": {
                      "required": false
                    },
                    "lastName": {
                      "required": true
                    },
                    "dateOfBirth": {
                      "required": false
                    },
                    "company": {
                      "id": {
                        "required": false
                      },
                      "regNo": {
                        "required": false
                      },
                      "companyName": {
                        "required": false
                      }
                    },
                    "status": {
                      "allowedValues": [
                        "Current",
                        "Former",
                        "Active",
                        "Inactive"
                      ],
                      "required": false
                    },
                    "address": {
                      "city": {
                        "required": false
                      }
                    }
                  },
                  {
                    "firstName": {
                      "required": false
                    },
                    "lastName": {
                      "required": false
                    },
                    "dateOfBirth": {
                      "required": false
                    },
                    "company": {
                      "id": {
                        "required": true
                      },
                      "regNo": {
                        "required": false
                      },
                      "companyName": {
                        "required": false
                      }
                    },
                    "status": {
                      "allowedValues": [
                        "Current",
                        "Former",
                        "Active",
                        "Inactive"
                      ],
                      "required": false
                    },
                    "address": {
                      "city": {
                        "required": false
                      }
                    }
                  },
                  {
                    "firstName": {
                      "required": false
                    },
                    "lastName": {
                      "required": false
                    },
                    "dateOfBirth": {
                      "required": false
                    },
                    "company": {
                      "id": {
                        "required": false
                      },
                      "regNo": {
                        "required": true
                      },
                      "companyName": {
                        "required": false
                      }
                    },
                    "status": {
                      "allowedValues": [
                        "Current",
                        "Former",
                        "Active",
                        "Inactive"
                      ],
                      "required": false
                    },
                    "address": {
                      "city": {
                        "required": false
                      }
                    }
                  },
                  {
                    "firstName": {
                      "required": false
                    },
                    "lastName": {
                      "required": false
                    },
                    "dateOfBirth": {
                      "required": false
                    },
                    "company": {
                      "id": {
                        "required": false
                      },
                      "regNo": {
                        "required": false
                      },
                      "companyName": {
                        "required": true
                      }
                    },
                    "status": {
                      "allowedValues": [
                        "Current",
                        "Former",
                        "Active",
                        "Inactive"
                      ],
                      "required": false
                    },
                    "address": {
                      "city": {
                        "required": false
                      }
                    }
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "a request for people searchcriteria"
    },
    "/monitoring": {},
    "/monitoring/user/details": {
      "get": {
        "description": "Get User details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "countryCode": "JP",
                "createdDate": "2018-11-02T07:44:49",
                "csCustomerId": 100306,
                "csUserId": 100424,
                "isAutoTracker": false,
                "languageCode": "EN",
                "lastAccessDate": "2018-11-02T07:44:49",
                "modifiedDate": "2018-11-02T07:44:49",
                "contractEndDate": "",
                "userId": 130
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "Returns User Object"
    },
    "/monitoring/companies/{id}/events": {
      "get": {
        "description": "Collection of events based on the connect id and which are received from each    country , optionally filtered",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Starting page number (indexed from 0)",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per Page (max 1000)",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of matching records"
              },
              "Link": {
                "type": "string",
                "description": "Link headers (see https://tools.ietf.org/html/rfc5988#page-6)"
              }
            },
            "schema": {
              "example": {
                "totalCount": 1,
                "paging": {
                  "size": 50,
                  "last": 0
                },
                "data": [
                  {
                    "eventId": 46768998,
                    "companyId": "DE01994341",
                    "portfolioId": 19425,
                    "ruleName": "COMPANY_NAME_CHANGED",
                    "localEventCode": "COMPANY_NAME_CHANGED",
                    "globalEventCode": "NC",
                    "newValue": "new company name ",
                    "oldValue": "previous company name",
                    "eventDate": "2018-10-05T14:00:00",
                    "createdDate": "2018-12-24T12:31:06"
                  }
                ]
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Event resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "A collection of events"
    },
    "/monitoring/eventRules": {
      "get": {
        "description": "Get all eventRules, optionally filtered",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of matching records"
              }
            },
            "schema": {
              "example": [
                {
                  "isActive": 0,
                  "ruleCode": 101,
                  "ruleCountryCode": "XX",
                  "ruleType": 4,
                  "ruleTypeName": "Rating band change - 3 input",
                  "name": "International Rating  |Reduce by {0} Band(s) OR Less than Band {1}",
                  "param0": "1",
                  "param1": "A"
                }
              ]
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "EventRule resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "A collection of events"
    },
    "/monitoring/eventRules/{countryCode}": {
      "get": {
        "description": "Get all eventRules, optionally filtered",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Country code to show events for",
            "required": true,
            "type": "string",
            "maxLength": 2,
            "minLength": 2
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of matching records"
              }
            },
            "schema": {
              "example": [
                {
                  "isActive": 0,
                  "ruleCode": 101,
                  "ruleCountryCode": "XX",
                  "ruleType": 4,
                  "ruleTypeName": "Rating band change - 3 input",
                  "name": "International Rating  |Reduce by {0} Band(s) OR Less than Band {1}",
                  "param0": "1",
                  "param1": "A"
                }
              ]
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "EventRule resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "A collection of eventRules"
    },
    "/monitoring/notificationEvents": {
      "get": {
        "description": "Get all notificationEvents, optionally filtered",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by this column. Null values of sort column are listed after non-nulls.",
            "required": true,
            "type": "string",
            "default": "companyName",
            "enum": [
              "companyName",
              "countryCode",
              "eventId",
              "eventDate"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "Starting page number (indexed from 0)",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per Page (max 1000)",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Return notificationEvents that match the given value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDir",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of matching records"
              },
              "Link": {
                "type": "string",
                "description": "Link headers (see https://tools.ietf.org/html/rfc5988#page-6)"
              }
            },
            "schema": {
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "paging": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "number"
                    },
                    "prev": {
                      "type": "number"
                    },
                    "next": {
                      "type": "number"
                    },
                    "last": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "last",
                    "size"
                  ]
                },
                "totalCount": {
                  "type": "number"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "eventId": {
                        "type": "number"
                      },
                      "newValue": {
                        "type": "string"
                      },
                      "ruleText": {
                        "type": "string"
                      },
                      "eventDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "oldValue": {
                        "type": "string"
                      },
                      "company": {
                        "type": "object",
                        "properties": {
                          "portfolioId": {
                            "type": "number"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "Two letter code representing country of origin"
                          },
                          "name": {
                            "type": "string",
                            "description": "Company Name"
                          },
                          "address": {
                            "type": "object",
                            "description": "Address for the company",
                            "properties": {
                              "postcode": {
                                "type": "string"
                              },
                              "simple": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "city",
                              "postcode",
                              "simple"
                            ]
                          },
                          "regNumber": {
                            "type": "string"
                          },
                          "safeNumber": {
                            "type": "string"
                          },
                          "portfolioName": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "connectID": {
                            "type": "string"
                          },
                          "scores": {
                            "type": "object",
                            "description": "Local Score, Credit Score, and recommended Credit Limit",
                            "properties": {
                              "creditLimit": {
                                "type": "integer",
                                "description": "Limit of credit we recommend offering the company"
                              },
                              "local": {
                                "type": "integer"
                              },
                              "common": {
                                "type": "string",
                                "enum": [
                                  "A",
                                  "B",
                                  "C",
                                  "D",
                                  "E",
                                  "X"
                                ]
                              }
                            },
                            "required": [
                              "common",
                              "local"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "inactive",
                              "unknown"
                            ]
                          }
                        },
                        "required": [
                          "connectID",
                          "countryCode",
                          "id",
                          "name",
                          "portfolioId",
                          "status"
                        ]
                      },
                      "processedDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "notificationId": {
                        "type": "number"
                      },
                      "ruleCode": {
                        "type": "number"
                      },
                      "ruleName": {
                        "type": "string"
                      },
                      "summary": {
                        "type": "string"
                      },
                      "notificationEventId": {
                        "type": "number"
                      },
                      "createdDate": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "company",
                      "createdDate",
                      "eventDate",
                      "eventId",
                      "notificationEventId",
                      "processedDate",
                      "ruleCode"
                    ],
                    "x-amf-examples": {
                      "BasicExample": {
                        "notificationEventId": 384849,
                        "notificationId": 238488,
                        "company": {
                          "name": "Smiths Ltd",
                          "countryCode": "FR",
                          "connectID": "FR-X-59684959",
                          "id": "FR2938484848",
                          "status": "active",
                          "portfolioId": 1049388345,
                          "portfolioName": "Test Notifications1"
                        },
                        "eventId": 38447,
                        "ruleCode": 601,
                        "ruleName": "All - Credit Limit",
                        "newValue": "A",
                        "oldValue": "B",
                        "eventDate": "2017-04-18T14:00:00.05Z",
                        "createdDate": "2017-04-18T15:00:00.05Z",
                        "processedDate": "2017-04-18T15:00:00.05Z",
                        "summary": "Some additional info",
                        "ruleText": "Example Rule Text"
                      }
                    }
                  }
                }
              },
              "additionalProperties": {}
            },
            "x-amf-mediaType": "application/json",
            "x-amf-responsePayloads": [
              {
                "mediaType": "appplication/json",
                "schema": {
                  "example": {
                    "totalCount": 4,
                    "paging": {
                      "size": 50,
                      "last": 0
                    },
                    "data": [
                      {
                        "company": {
                          "id": "DE-0-DE01994341",
                          "safeNumber": "DE01994341",
                          "name": "Bank Bau KG",
                          "countryCode": "DE",
                          "portfolioId": 19425,
                          "portfolioName": "TestData"
                        },
                        "eventId": 46768998,
                        "eventDate": "",
                        "newValue": "new company name ",
                        "oldValue": "previous company name",
                        "createdDate": "",
                        "notificationEventId": 755394,
                        "ruleCode": 104,
                        "ruleName": "Company Name",
                        "ruleText": "Some text about the rule"
                      }
                    ]
                  }
                }
              }
            ]
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "NotificationEvent resource not found"
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": [],
        "x-amf-queryParameters": {
          "startDate": {
            "required": false,
            "type": "datetime | nil"
          },
          "endDate": {
            "required": false,
            "type": "datetime | nil"
          }
        }
      },
      "x-amf-description": "A collection of notificationEvents"
    },
    "/monitoring/portfolios": {
      "get": {
        "description": "Get all portfolios, optionally filtered",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Return portfolios that match the given value",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Starting page number (indexed from 0)",
            "required": false,
            "type": "integer",
            "default": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return per Page (max 1000)",
            "required": false,
            "type": "integer",
            "default": 50
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "Total number of matching records"
              },
              "Link": {
                "type": "string",
                "description": "Link headers (see https://tools.ietf.org/html/rfc5988#page-6)"
              }
            },
            "schema": {
              "example": {
                "totalCount": 70,
                "paging": {
                  "size": 100,
                  "last": 0
                },
                "data": {
                  "portfolios": [
                    {
                      "portfolioId": 20195,
                      "name": "Connect Portfolio",
                      "isDefault": false,
                      "isSharedPortfolio": 0
                    }
                  ],
                  "sharedPortfolios": []
                }
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Portfolio resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "post": {
        "description": "Create a new Portfolio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "generated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/generated"
            },
            "x-amf-mediaType": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "example": {
                "portfolioId": 20398,
                "name": "Connect Portfolio",
                "isDefault": false
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "404": {
            "description": "",
            "schema": {
              "example": {
                "message": "Portfolio resource not found "
              }
            },
            "x-amf-mediaType": "application/json"
          }
        },
        "security": []
      },
      "x-amf-description": "A collection of portfolios"
    },
    "/monitoring/portfolios/{portfolioId}": {
      "get": {
        "description": "Get the portfolio\nwith portfolioId =\n{portfolioId}\n",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "portfolioId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authentication Token obtained from /authenticate. Can be expressed in the format \"bearer tokenValue\" or \"tokenValue\" alone.\"",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "required": [
                "isDefault",
                "name",
                "portfolioId"
              ],
              "properties": {
                "portfolioId": {
                  "type": "number"
                },
                "name": {
                  "type": "string"
                },
                "isDefault": {
                  "type": "boolean"
                }
              },
              "example": {
                "portfolioId": 123456789,
                "name": "My new portfolio",
                "isDefault": true
              },
              "additionalProperties": {}
            },
            "x-amf-mediaType": "application/json"
          },
          "400": {
            "description": "",
            "schema": {
              "example": {
                "message": "Bad request"
              }
            },
            "x-amf-mediaType": "application/json"
          },
          "403": {
            "description": "",
            "schema": {
              "example": {
                "message": "Access forbidden"
              }
            },
            "x-amf-mediaType": "application/json"
          },
[...]
