openapi: 3.0.1
info:
  title: Creditsafe Connect (Swagger Beta)
  x-logo:
    url: "https://connect-portal.creditsafe.com/static/media/connect-api-logo.46d15d9b.png"
    altText: "Connect Logo"
  description: |-
    <h2>Introduction</h2>
    - Creditsafe Connect is a REST API that provides access to the [Creditsafe Global Company Database](https://www.creditsafe.com/gb/en/more/about/our-data.html) allowing you to qualify/onboard your prospects, make quick informed decisions on suppliers and monitor your existing customers.

    <h2> Quick Start </h2>
    - To start your Creditsafe Connect integration you will need to have activated your account and set a password by following the instructions in your Welcome Email. If you have not received a Welcome Email please contact your Creditsafe Account Manager.
    - Using a REST API client construct an `/Authenticate` POST request and enter your username & password (case-sensitive) into the POST body.
    - A successful response will return a string value known as the authentication (Bearer/JWT) token.
    - Use the authentication token as the value in an Authorization header on all other Creditsafe Connect calls as proof of you authenticity.

    <h2>Resources</h2>
    - [Postman](https://www.getpostman.com/collections/3aa74cc7318e44aeb96d) collection of the most common example calls to Creditsafe Connect.
    - [Connect Portal](https://connect-portal.creditsafe.com) A Front End Demo Site. Use this as a quick easy way to validate your username & password, and form requests.

    <form action="https://www.creditsafe.com/gb/en/forms/free-trial-form.html?cta=view-documenation-api" method="get" target="_blank"> <br> <button type="submit"><b>Try the API Now</b></button>
  version: "1.0"
servers:
- url: https://connect.creditsafe.com/v1
tags:
- name: Authentication
  description: Initial call to generate Authentication token
- name: Companies
  description: Endpoints to Search for Companies and order Company Credit Reports.
- name: Monitoring Companies
  description: Monitoring
- name: People/Directors
  description: Endpoints to Search for People/Directors and order Director Reports.
- name: Decision Engine
  description: Decision Engine
- name: Images
  description: Endpoint to order official Company Image Documents
- name: Offline Reports
  description: Endpoint to Order a Fresh Investigation 
paths:
  /authenticate:
    post:
      security: []
      tags:
      - Authentication
      description: Endpoint to generate a Bearer/JWT Authentication Token. When calling
        other endpoints, include this token under the Header  `Authorization` as proof
        of authenticity (Bearer security scehema is also accepted). Tokens persist
        for 1 hour after being issued and can exist concurrently.
      operationId: Generate Authentication Token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authenticationRequest'
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authenticationSuccessResponse'
          x-amf-mediaType: application/json
        401:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access denied -  Please check that your username and password
                    are correct.  Please be aware that usernames and passwords are
                    case sensitive. If the problem persists, please contact your Creditsafe
                    account manager.
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Resource not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-displayName: Authentication
    x-amf-description: Calls to Connect require a valid JWT Authentication Token to
      be supplied as a REST Header. An Authentication Token can be generated by calling
      the POST /authenticate endpoint with your CS Connect credentials. Please note
      that both username + password are case sensitive.
  /companies:
    get:
      tags:
      - Companies
      description: Endpoint to search for Companies based on supplied Search Criteria.
      operationId: Company Search
      parameters:
      - name: countries
        in: query
        description: A Comma-separated list of country codes to search for Companies
          in. The list takes ISO/Alpha 2 format country codes. For example US,GB represents
          searching for Companies in the United States and Great Britain.
        required: true
        schema:
          type: string
      - name: language
        in: query
        description: Search Language -  Typically only used for Countries where more
          than one  Company Names exist in different languages. Such as Companies
          with a Japanese Kanji and English names.
        schema:
          pattern: ^[a-zA-Z]{2}$
          type: string
          default: en
      - name: id
        in: query
        description: Connect Id - The primary Company identifier that is used to uniquely
          identify all companies across Creditsafe''s Universe and Partner Network.
          This is returned on all Company Search Results. Use this field to use in
          other operations such as Ordering Company Credit Report by Id, and Adding
          Company to Monitoing Portfolio. </br></br> [Searching by Connect ID is a
          slightly redundant operation (can be used as a fast-lookup to Search Result
          fields) as the purpose of Search is to obtain this identifier].
        schema:
          type: string
      - name: safeNo
        in: query
        description: Safe Number - Creditsafe's identifier on all Companies owned
          in the Creditsafe Universe. This is returned on all Company Search Results
        schema:
          type: string
      - name: regNo
        in: query
        description: Local Company Identifier - The Company identifier typically associated
          with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom
          Companies House CRN.
        schema:
          type: string
      - name: vatNo
        in: query
        description: Company VAT Number
        schema:
          type: string
      - name: name
        in: query
        description: Company Name
        schema:
          type: string
      - name: tradeName
        in: query
        description: Trade Name of the Company, typically used in Countries where
          Name is not uniquely registered.
        schema:
          type: string
      - name: acronym
        in: query
        description: A (non-unique) identifier to look for Companies by their more
          commonly known acronym rather than their lesser known full name. Acronym
          is predominantly available on French Companies.
        schema:
          type: string
      - name: exact
        in: query
        description: Provide as true to find Companies matching a Name exactly.
        schema:
          type: boolean
      - name: address
        in: query
        schema:
          type: string
      - name: street
        in: query
        description: Address part identifier - Street of the Company
        schema:
          type: string
      - name: houseNo
        in: query
        description: Address part identifier - House/Building Number of the Company
        schema:
          type: string
      - name: city
        in: query
        description: Address part identifier - City of the Company
        schema:
          type: string
      - name: postCode
        in: query
        description: Address part identifier - Postcode/Zip Code of the Company. Can
          be provided partially to extend to a region with a * as a wildcard. I.e.
          CF* can represnt all postcodes starting with CF.
        schema:
          type: string
      - name: province
        in: query
        description: Address part identifier - Province/State of the Company
        schema:
          type: string
      - name: phone
        in: query
        description: Phone Number of the Company
        schema:
          type: string
      - name: officeType
        in: query
        description: Indicates whether the Company is a Head Office or a Branch
        schema:
          type: string
          enum:
          - headOffice
          - branch
      - name: status
        in: query
        description: Indicates whether the Company is Active/Trading
        schema:
          type: string
          enum:
          - active
          - nonactive
      - name: type
        in: query
        description: Indicates whether the Company is Limited or NonLimited. Countries
          without a concept of Limited/NonLimited Companies will not be affected by
          this parameter
        schema:
          type: string
          enum:
          - ltd
          - nonltd
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      - name: pageSize
        in: query
        description: Number of Companies per page
        schema:
          type: integer
      - name: callRef
        in: query
        description: Call Reference
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companySearchSuccessResult'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  companies: []
                  totalSize: 0
                  messages:
                  - code: NoResults
                    text: No companies matching specified search criteria found.
                    type: Information
          x-amf-mediaType: application/json
    x-amf-displayName: Companies
    x-amf-description: Endpoint to search for Companies based on supplied Search Criteria.
  /companies/{id}:
    get:
      tags:
      - Companies
      operationId: Company Credit Report
      parameters:
      - name: language
        in: query
        description: Report Language - The JSON structure of the Report is language
          invariant, but field content will return as the given language, where available.
        schema:
          pattern: ^[a-zA-Z]{2}$
          type: string
          default: en
      - name: template
        in: query
        description: Optional parameter to request a Templated Company Report. A Template
          adds/reduces sections of the Credit Report depending on your subscription.
          Do not include this parameter if you have not been given a template to use.
        schema:
          type: string
          default: full
      - name: customData
        in: query
        description: A Key-Value pair (as a string format key::value) that is required
          for certain Report requests. I.e. German Report Reason Code. Use /reportcustomdata/{country}
          endpoint to see the necessary structure/values.
        schema:
          type: string
      - name: callRef
        in: query
        description: Call Reference
        schema:
          type: string
      - name: id
        in: path
        description: The Connect Id (optionally Safe Number where available) of the
          Company required to order their Credit Report. Obtained from `/companies`
          search results.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gbCompanyReportExampleResponse'
          x-amf-mediaType: application/json
          x-amf-responsePayloads:
          - mediaType: text/html
            schema: {}
          - mediaType: application/pdf
            schema: {}
          - mediaType: text/pdf
            schema: {}
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Resource not found '
          x-amf-mediaType: application/json
    x-amf-displayName: Company Report
    x-amf-description: This endpoint orders a Credit Report for a Company by its Connect
      Id. </br> The Company Credit Report is a JSON object comprising of key business/financial
      data points, including its Credit Score & Limit. A full list of Company data
      points can be found in the Data Dictionaries.
  /companies/searchcriteria:
    get:
      tags:
      - Companies
      description: Returns the set of available Company Search parameters/fields for
        a provided list of countries.
      operationId: Company Search Criteria
      parameters:
      - name: countries
        in: query
        description: A comma separated list of ISO/Alpha 2 format country codes, or
          singular country Code. e.g. US,GB will return the common searchable Company
          fields in the United States and Great Britain.
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  Countries:
                  - GB
                  - DE
                  CriteriaSets:
                  - id:
                      required: true
                    type:
                      allowedValues:
                      - Limited
                      - NonLimited
                  - safeNo:
                      required: true
                    type:
                      allowedValues:
                      - Limited
                      - NonLimited
                  - regNo: {}
                    vatNo: {}
                    name: {}
                    exact: {}
                    address: {}
                    city: {}
                    postCode: {}
                    status:
                      allowedValues:
                      - Active
                      - Inactive
                    type:
                      allowedValues:
                      - Limited
                      - NonLimited
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'resource not found '
          x-amf-mediaType: application/json
    x-amf-displayName: Company Search Criteria
    x-amf-description: Use this to return a set of fields that are available to search
      on per country, or the common searchable fields in a combination of countries.'
  /companies/schema/{countryCode}:
    get:
      tags:
      - Companies
      operationId: Company Report JSON Schema
      parameters:
      - name: section
        in: query
        description: Use CompanyReportResponse for the Company Credit Report JSON
          schema, DirectorReportResponse for the Director Report JSON schema.
        schema:
          type: string
          enum:
          - CompanyReportResponse
          - DirectorReportResponse
      - name: template
        in: query
        description: For Templated Company Report JSON Schemas
        schema:
          type: string
      - name: countryCode
        in: path
        description: ISO2 / Alpha 2 Country Code
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
          x-amf-mediaType: application/json
    x-amf-displayName: Company Report Schemas
    x-amf-description: Endpoint to retrieve the most up-to-date Report JSON schema
      for a given country.
  /access/countries:
    get:
      tags:
      - Authentication
      description: Returns the available countries in your subscription by operation
        - Company Report, Director Report, Offline Reports and Monitoring.
      operationId: Countries In Subscription
      parameters:
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  countryAccess:
                  - Creditsafe Connect Online Reports:
                    - countryName: Italy
                      countryIso2: IT
                      used: 243
                    - countryName: Belgium
                      countryIso2: BE
                      used: 76
                    - countryName: United Kingdom of Great Britain and Northern Ireland
                      countryIso2: GB
                      used: 46
                    - countryName: Denmark
                      countryIso2: DK
                      used: 5
                    - countryName: Australia
                      countryIso2: AU
                      used: 2
                    - countryName: Indonesia
                      countryIso2: ID
                      used: 0
                    - countryName: Sweden
                      countryIso2: SE
                      used: 10
                    - countryName: United States of America
                      countryIso2: US
                      used: 15
                    - countryName: Afghanistan
                      countryIso2: AF
                      used: 0
                    - countryName: Yemen
                      countryIso2: YE
                      used: 0
                    - countryName: Czech Republic
                      countryIso2: CZ
                      used: 0
                  - Creditsafe Connect Offline Reports: []
                  - Creditsafe Connect Monitoring: []
                  correlationId: 1a5379d0-f923-11e8-bb11-023a939a59f2
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad Request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'resource not found '
          x-amf-mediaType: application/json
    x-amf-displayName: Country Access
    x-amf-description: Returns a list of Us
  /people:
    get:
      tags:
      - People/Directors
      description: Endpoint to get Directors based on a search criteria. This endpoint
        is designed to find a Person/Director to order a Creditsafe Director Report.
        This isn't recommended to find a Company by director. To list the Directors
        of a Company, it is recommended to use the `/companies/{id}` endpoint, looking
        at the `directors` section in the response.
      operationId: People/Director Search
      parameters:
      - name: countries
        in: query
        description: A comma-separated list of countries to search for People with
          registered directorships against. The list takes ISO/Alpha 2 format country
          codes. For example US,GB represents searching for People/Directorships in
          the United States and Great Britain.
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: Connect Id - The primary Company identifier that is used to uniquely
          identify all companies across Creditsafe's Universe and Partner Network.
        schema:
          type: string
      - name: regNo
        in: query
        description: Local Company Identifier - The Company identifier typically associated
          with a Government Filing Agency. i.e. French SIREN/SIRET, United Kingdom
          Companies House CRN
        schema:
          type: string
      - name: safeNumber
        in: query
        description: Safe Number - Creditsafe's identifier on all Companies owned
          in the Creditsafe Universe. This is returned on all Company Search Results
        schema:
          type: string
      - name: peopleId
        in: query
        description: Person/Director Identifier - used to order a Director Report.
        schema:
          type: string
      - name: firstName
        in: query
        description: Person's First Name.
        schema:
          type: string
      - name: lastName
        in: query
        description: Person's Last Name
        schema:
          type: string
      - name: companyName
        in: query
        description: Company Name of the Director's Company (Only use this for Directorship
          Searches, unavailable in Director Search)
        schema:
          type: string
      - name: companyNumber
        in: query
        description: Local Registration Idenitifier of the Director's Company (Only
          use this for Directorship Searches, unavailable in Director Search).
        schema:
          type: string
      - name: localDirectorNumber
        in: query
        description: Local Identifier of the Director, the PNR in GB.
        schema:
          type: string
      - name: dateOfBirth
        in: query
        description: Person DOB - provide YYYY-MM-DD or YYYY-MM format.
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      - name: pageSize
        in: query
        description: Number of directors per page
        schema:
          type: integer
      - name: callRef
        in: query
        description: Call Reference
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/peopleSearchSuccessResult'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  directors: []
                  totalSize: 0
                  messages:
                  - code: NoResults
                    text: No directors matching specified search criteria found.
                    type: Information
          x-amf-mediaType: application/json
    x-amf-displayName: People
    x-amf-description: Endpoint to search for Directors/People based on supplied Search
      Criteria.
  /people/{personId}:
    get:
      tags:
      - People/Directors
      operationId: Director Report
      parameters:
      - name: language
        in: query
        description: Report Language - The JSON structure of the Report is language
          invariant, but field content will return as the given language, where available.
        schema:
          pattern: ^[a-zA-Z]{2}$
          type: string
          default: en
      - name: callRef
        in: query
        description: Call Reference
        schema:
          type: string
      - name: personId
        in: path
        description: Identifier of the Person/Director required to order their Director
          Report. Obtained from `/people` search results.
        required: true
        schema:
          pattern: ^[a-zA-Z]{2}([0-9]{1,3})?[-]{1}[a-zA-Z0-9$]+$
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content: {}
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  error: 'Policy 456183: The Authorization header has invalid format'
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Resource not found
          x-amf-mediaType: application/json
    x-amf-displayName: Person / Director Report
    x-amf-description: This endpoint orders a Director Report on a Person by their
      identifier. </br> The Director Report is a JSON object comprising of information
      about Current/Previous directorships/appointments
  /people/searchcriteria:
    get:
      tags:
      - People/Directors
      description: Returns the set of available People Search parameters/fields for
        a provided list of countries.
      operationId: People/Director Search Criteria
      parameters:
      - name: countries
        in: query
        description: A comma separated list of ISO/Alpha 2 format country codes, or
          singular country Code. e.g. US,GB will return the common searchable People/Director
          fields in the United States and Great Britain.
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  countries:
                  - DE
                  - FR
                  criteriaSets:
                  - localDirectorNumber:
                      required: true
                  - firstName:
                      required: false
                    lastName:
                      required: true
                    dateOfBirth:
                      required: false
                    company:
                      id:
                        required: false
                      regNo:
                        required: false
                      companyName:
                        required: false
                    status:
                      allowedValues:
                      - Current
                      - Former
                      - Active
                      - Inactive
                      required: false
                    address:
                      city:
                        required: false
                  - firstName:
                      required: false
                    lastName:
                      required: false
                    dateOfBirth:
                      required: false
                    company:
                      id:
                        required: true
                      regNo:
                        required: false
                      companyName:
                        required: false
                    status:
                      allowedValues:
                      - Current
                      - Former
                      - Active
                      - Inactive
                      required: false
                    address:
                      city:
                        required: false
                  - firstName:
                      required: false
                    lastName:
                      required: false
                    dateOfBirth:
                      required: false
                    company:
                      id:
                        required: false
                      regNo:
                        required: true
                      companyName:
                        required: false
                    status:
                      allowedValues:
                      - Current
                      - Former
                      - Active
                      - Inactive
                      required: false
                    address:
                      city:
                        required: false
                  - firstName:
                      required: false
                    lastName:
                      required: false
                    dateOfBirth:
                      required: false
                    company:
                      id:
                        required: false
                      regNo:
                        required: false
                      companyName:
                        required: true
                    status:
                      allowedValues:
                      - Current
                      - Former
                      - Active
                      - Inactive
                      required: false
                    address:
                      city:
                        required: false
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Resource not found '
          x-amf-mediaType: application/json
    x-amf-description: a request for people searchcriteria
  /monitoring/user/details:
    get:
      tags:
      - Monitoring Companies
      description: Get User details
      parameters:
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  countryCode: JP
                  createdDate: 2018-11-02T07:44:49
                  csCustomerId: 100306
                  csUserId: 100424
                  isAutoTracker: false
                  languageCode: EN
                  lastAccessDate: 2018-11-02T07:44:49
                  modifiedDate: 2018-11-02T07:44:49
                  contractEndDate: ""
                  userId: 130
          x-amf-mediaType: application/json
    x-amf-description: Returns User Object
  /monitoring/companies/{id}/events:
    get:
      tags:
      - Monitoring Companies
      description: Collection of events based on the connect id and which are received
        from each    country , optionally filtered
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCount: 1
                  paging:
                    size: 50
                    last: 0
                  data:
                  - eventId: 46768998
                    companyId: DE01994341
                    portfolioId: 19425
                    ruleName: COMPANY_NAME_CHANGED
                    localEventCode: COMPANY_NAME_CHANGED
                    globalEventCode: NC
                    newValue: 'new company name '
                    oldValue: previous company name
                    eventDate: 2018-10-05T14:00:00
                    createdDate: 2018-12-24T12:31:06
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Event resource not found '
          x-amf-mediaType: application/json
    x-amf-description: A collection of events
  /monitoring/eventRules:
    get:
      tags:
      - Monitoring Companies
      description: Get all eventRules, optionally filtered
      parameters:
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                example:
                - isActive: 0
                  ruleCode: 101
                  ruleCountryCode: XX
                  ruleType: 4
                  ruleTypeName: Rating band change - 3 input
                  name: International Rating  |Reduce by {0} Band(s) OR Less than
                    Band {1}
                  param0: "1"
                  param1: A
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'EventRule resource not found '
          x-amf-mediaType: application/json
    x-amf-description: A collection of events
  /monitoring/eventRules/{countryCode}:
    get:
      tags:
      - Monitoring Companies
      description: Get all eventRules, optionally filtered
      parameters:
      - name: countryCode
        in: path
        description: Country code to show events for
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                example:
                - isActive: 0
                  ruleCode: 101
                  ruleCountryCode: XX
                  ruleType: 4
                  ruleTypeName: Rating band change - 3 input
                  name: International Rating  |Reduce by {0} Band(s) OR Less than
                    Band {1}
                  param0: "1"
                  param1: A
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'EventRule resource not found '
          x-amf-mediaType: application/json
    x-amf-description: A collection of eventRules
  /monitoring/notificationEvents:
    get:
      tags:
      - Monitoring Companies
      description: Get all notificationEvents, optionally filtered
      parameters:
      - name: sortBy
        in: query
        description: Sort results by this column. Null values of sort column are listed
          after non-nulls.
        required: true
        schema:
          type: string
          default: companyName
          enum:
          - companyName
          - countryCode
          - eventId
          - eventDate
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: searchQuery
        in: query
        description: Return notificationEvents that match the given value
        schema:
          type: string
      - name: sortDir
        in: query
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
          x-amf-mediaType: application/json
          x-amf-responsePayloads:
          - mediaType: appplication/json
            schema:
              example:
                totalCount: 4
                paging:
                  size: 50
                  last: 0
                data:
                - company:
                    id: DE-0-DE01994341
                    safeNumber: DE01994341
                    name: Bank Bau KG
                    countryCode: DE
                    portfolioId: 19425
                    portfolioName: TestData
                  eventId: 46768998
                  eventDate: ""
                  newValue: 'new company name '
                  oldValue: previous company name
                  createdDate: ""
                  notificationEventId: 755394
                  ruleCode: 104
                  ruleName: Company Name
                  ruleText: Some text about the rule
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: NotificationEvent resource not found
          x-amf-mediaType: application/json
      x-amf-queryParameters:
        startDate:
          required: false
          type: datetime | nil
        endDate:
          required: false
          type: datetime | nil
    x-amf-description: A collection of notificationEvents
  /monitoring/portfolios:
    get:
      tags:
      - Monitoring Companies
      description: Get all portfolios, optionally filtered
      parameters:
      - name: searchQuery
        in: query
        description: Return portfolios that match the given value
        schema:
          type: string
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCount: 70
                  paging:
                    size: 100
                    last: 0
                  data:
                    portfolios:
                    - portfolioId: 20195
                      name: Connect Portfolio
                      isDefault: false
                      isSharedPortfolio: 0
                    sharedPortfolios: []
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Portfolio resource not found '
          x-amf-mediaType: application/json
    post:
      tags:
      - Monitoring Companies
      description: Create a new Portfolio
      parameters:
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: toDo
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  portfolioId: 20398
                  name: Connect Portfolio
                  isDefault: false
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Portfolio resource not found '
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: A collection of portfolios
  /monitoring/portfolios/{portfolioId}:
    get:
      tags:
      - Monitoring Companies
      description: Get the portfolio with portfolioId = portfolioId}
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  portfolioId: 123456789
                  name: My new portfolio
                  isDefault: true
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio resource not found
          x-amf-mediaType: application/json
    delete:
      tags:
      - Monitoring Companies
      description: Delete the portfolio with portfolioId
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio removed
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: string
                example: |
                  {"message": "Portfolio not found" }
          x-amf-mediaType: application/json
    patch:
      tags:
      - Monitoring Companies
      description: Update Portfolio details
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: toDo
        required: false
      responses:
        204:
          description: ""
          content: {}
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio resource not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: Entity representing a Portfolio
  /monitoring/portfolios/{portfolioId}/countries:
    get:
      tags:
      - Monitoring Companies
      description: Get a list of distinct countries of companies monitored with in
        a portfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: array
                example:
                - FR
                - LU
                - DE
                - DK
                - SE
                items:
                  type: string
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Portfolio not found '
          x-amf-mediaType: application/json
    x-amf-description: Get a list of distinct countries of companies monitored with
      in a portfolio
  /monitoring/portfolios/{portfolioId}/eventRules:
    get:
      tags:
      - Monitoring Companies
      description: Get all eventRules, optionally filtered
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                example:
                - isActive: 0
                  ruleCode: 101
                  ruleCountryCode: XX
                  ruleType: 4
                  ruleTypeName: Rating band change - 3 input
                  name: International Rating  |Reduce by {0} Band(s) OR Less than
                    Band {1}
                  param0: "1"
                  param1: A
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'EventRule resource not found '
          x-amf-mediaType: application/json
    x-amf-description: Get all eventRules with portfolioId
  /monitoring/portfolios/{portfolioId}/eventRules/{countryCode}:
    get:
      tags:
      - Monitoring Companies
      description: Get all eventRules, optionally filtered
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: countryCode
        in: path
        description: Country code to show events for
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: object
                example:
                - isActive: 0
                  ruleCode: 101
                  ruleCountryCode: XX
                  ruleType: 4
                  ruleTypeName: Rating band change - 3 input
                  name: International Rating  |Reduce by {0} Band(s) OR Less than
                    Band {1}
                  param0: "1"
                  param1: A
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'EventRule resource not found '
          x-amf-mediaType: application/json
    put:
      tags:
      - Monitoring Companies
      description: Update eventRules
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: countryCode
        in: path
        description: Country code to show events for
        required: true
        schema:
          maxLength: 2
          minLength: 2
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
              - ruleCode: 1801
                ruleCountryCode: GB
                isActive: 1
                param0: "15"
              - ruleCode: 1802
                ruleCountryCode: GB
                isActive: 1
                param0: "10"
              - ruleCode: 1815
                ruleCountryCode: GB
                isActive: 0
              - ruleCode: 1803
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1804
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1814
                ruleCountryCode: GB
                isActive: 0
              - ruleCode: 1805
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1806
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1807
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1808
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1809
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1810
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1811
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1812
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 1813
                ruleCountryCode: GB
                isActive: 1
              - ruleCode: 3053
                ruleCountryCode: GB
                isActive: 0
              - ruleCode: 3054
                ruleCountryCode: GB
                isActive: 0
        required: false
      responses:
        204:
          description: ""
          content: {}
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: EventRule resource not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: Get all eventRules for a Specific Country with portfolioId
  /monitoring/portfolios/{portfolioId}/eventRules/setDefault:
    put:
      tags:
      - Monitoring Companies
      description: Update (set) event rules to default based on the portfolio id
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        204:
          description: ""
          content: {}
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio not found
          x-amf-mediaType: application/json
    x-amf-description: a request for setDefault
  /monitoring/portfolios/{portfolioId}/import:
    post:
      tags:
      - Monitoring Companies
      description: Import companies in to a portfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: toDo
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Accepted for processing. Import Id 7744
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: Import CSV file of companies into a portfolio
  /monitoring/portfolios/{portfolioId}/sync:
    post:
      tags:
      - Monitoring Companies
      description: Delete companies from portfolio and update new companies from CSV
        file
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: toDo
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Accepted for processing. Import Id 7744
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: Synchronise a portfolio with the companies contained in a CSV
      file
  /monitoring/portfolios/{portfolioId}/riskSummary:
    get:
      tags:
      - Monitoring Companies
      description: Get current portfolio risk summary information
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCompanies: 479
                  bandACount: 269
                  bandApc: 56.158663883089766
                  bandBCount: 110
                  bandBpc: 22.964509394572026
                  bandCCount: 59
                  bandCpc: 12.31732776617954
                  bandDCount: 13
                  bandDpc: 2.7139874739039667
                  bandECount: 28
                  bandEpc: 5.845511482254697
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolio not found
          x-amf-mediaType: application/json
    x-amf-description: Get event portfolio risk summary information
  /monitoring/portfolios/{portfolioId}/notificationEvents:
    get:
      tags:
      - Monitoring Companies
      description: Get all notificationEvents based on the portfolio id , optionally
        filtered
      parameters:
      - name: searchQuery
        in: query
        description: Return notificationEvents that match the given value
        schema:
          type: string
      - name: sortDir
        in: query
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: sortBy
        in: query
        description: Sort results by this column. Null values of sort column are listed
          after non-nulls.
        required: true
        schema:
          type: string
          default: companyName
          enum:
          - companyName
          - countryCode
          - eventId
          - eventDate
          - textValueEn
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCount: 24
                  paging:
                    size: 2
                    prev: 1
                    next: 1
                    last: 11
                  data:
                  - company:
                      id: ES-0-436776
                      safeNumber: ES01481829
                      name: BANK
                      countryCode: ES
                      portfolioId: 18707
                      portfolioName: Data
                    eventId: 46762582
                    eventDate: ""
                    newValue: 33 new name
                    oldValue: 21name
                    createdDate: ""
                    notificationEventId: 754983
                    ruleCode: 104
                    ruleName: Company Name
                    ruleText: Some text about the rule
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: NotificationEvent resource not found
          x-amf-mediaType: application/json
      x-amf-queryParameters:
        endDate:
          required: false
          type: datetime | nil
        startDate:
          required: false
          type: datetime | nil
    x-amf-description: A collection of notificationEvents
  /monitoring/portfolios/{portfolioId}/companies:
    get:
      tags:
      - Monitoring Companies
      description: Get all companies, optionally filtered
      parameters:
      - name: searchQuery
        in: query
        description: Return companies that match the given value
        schema:
          type: string
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: countryCode
        in: query
        description: Return <<resourcePathName>> that match the given countryCode
        schema:
          type: string
      - name: events
        in: query
        description: If set to true, all events will be returned for each company
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCount: 1
                  paging:
                    size: 100
                    next: 1
                    last: 4
                  data:
                  - id: ""
                    safeNumber: UK00216072
                    name: ABU DHABI MARINE AREAS LIMITED
                    address: CHERTSEY ROAD
                    countryCode: GB
                    portfolioId: 17781
                    creditLimit: 1400000
                    dateLastEvent: ""
                    personalLimit: ""
                    personalReference: ""
                    ratingCommon: B
                    ratingLocal: "57"
                    companyStatus: "1"
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company resource not found
          x-amf-mediaType: application/json
      x-amf-queryParameters:
        language:
          description: Translation Locale language code optional
          required: false
          type: string | nil
    post:
      tags:
      - Monitoring Companies
      description: Add new company to portfolio
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: GB-0-123456789
                personalReference: Some text
                freeText: Some useful test
                personalLimit: "40"
        required: false
      responses:
        201:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company added
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company resource not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: A collection of companies
  /monitoring/portfolios/{portfolioId}/companies/copy:
    post:
      tags:
      - Monitoring Companies
      description: Copy companies from one portfolio to single (or) multiple portfolios.
      parameters:
      - name: copyAll
        in: query
        description: When CopyAll queryparameter is False, portfolios and companies
          list needs to be passed. When CopyAll queryparameter is True, only portfolios
          need to be passed and companies List must be empty. All companies are copied
          from current portfolio are considered here.
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-amf-examples:
                CopyAllFalse:
                  portfolios:
                  - 196854
                  - 197369
                  companies:
                  - id: BE-X-733313367
                  - id: BE-X-868222848
                  - id: BE-X-835695382
                CopyAllTrue:
                  portfolios:
                  - 196854
                  - 197369
                  companies: []
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  totalPortfoliosCompanies: 10
                  successfulPortfoliosCompanies: 8
                  failedPortfoliosCompanies: 2
                  reason: Duplicate entry '199483-FR00002855' for key 'PRIMARY'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad Request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolios not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: copy companies from one portfolio to single (or) multiple portfolios.
      Portfolios List denotes destination portfolios and companies list denotes the
      companies to be moved to destination portfolios
  /monitoring/portfolios/{portfolioId}/companies/remove:
    post:
      tags:
      - Monitoring Companies
      description: Move companies from one portfolio to single (or) multiple portfolios.
      parameters:
      - name: removeAll
        in: query
        description: When RemoveAll queryparameter is False, portfolios and companies
          List needs to be passed. When RemoveAll queryparameter is True, only portfolios
          need to be passed and companies List must be empty. All companies are moved
          and deleted from current portfolio
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-amf-examples:
                RemoveAllFalse:
                  portfolios:
                  - 196854
                  - 197369
                  companies:
                  - id: BE-X-733313367
                  - id: BE-X-868222848
                  - id: BE-X-835695382
                RemoveAllTrue:
                  portfolios:
                  - 196854
                  - 197369
                  companies: []
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  totalPortfoliosCompanies: 10
                  successfulPortfoliosCompanies: 8
                  failedPortfoliosCompanies: 2
                  reason: Duplicate entry '199483-FR00002855' for key 'PRIMARY'
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad Request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolios not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: copy companies from one portfolio to single (or) multiple portfolio's
      and remove from current portfolio Portfolios List denotes destination portfolios
      and companies list denotes the companies to be moved to destination portfolios
  /monitoring/portfolios/{portfolioId}/companies/clear:
    patch:
      tags:
      - Monitoring Companies
      description: Delete companies from current portfolio
      parameters:
      - name: clearAll
        in: query
        description: When ClearAll queryparameter is False,Companies List needs to
          be passed. When ClearAll queryparameter is True, Companies List must be
          empty. All companies will be deleted
        schema:
          type: boolean
          default: false
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-amf-examples:
                ClearAllFalse:
                  companies:
                  - BE-X-733313367
                  - BE-X-868222848
                ClearAllTrue:
                  companies: []
        required: false
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Companies deleted from portfolio
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad Request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Portfolios not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: delete companies from current portfolio.
  /monitoring/portfolios/{portfolioId}/companies/{id}:
    get:
      tags:
      - Monitoring Companies
      description: |
        Get the company
        with companyId =
        {companyId}
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                example:
                  portfolioId: 23585848
                  safeNumber: FR123456789
                  countryCode: FR
                  name: A Company
                  address: 24 Leftside, Paris, 23456
                  personalReference: Some text
                  companyStatus: Active
                  creditLimit: 10000
                  ratingLocal: 76
                  ratingCommon: B
                  dateLastEvent: 2017-04-18T15:00:00.05Z
                  id: FR01-000-584758989
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company resource not found
          x-amf-mediaType: application/json
    delete:
      tags:
      - Monitoring Companies
      description: Delete a Company
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company removed
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: string
                example: |
                  {"message": "Company not found" }
          x-amf-mediaType: application/json
    patch:
      tags:
      - Monitoring Companies
      description: Updates a Company
      parameters:
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example: toDo
        required: false
      responses:
        204:
          description: ""
          content: {}
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Company resource not found
          x-amf-mediaType: application/json
      x-codegen-request-body-name: generated
    x-amf-description: Entity representing a Company
  /monitoring/portfolios/{portfolioId}/companies/{id}/notificationEvents:
    get:
      tags:
      - Monitoring Companies
      description: List of notification events based on the connect id , optionally
        filtered
      parameters:
      - name: searchQuery
        in: query
        description: Return notificationEvents that match the given value
        schema:
          type: string
      - name: sortDir
        in: query
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
      - name: pageSize
        in: query
        description: Number of items to return per Page (max 1000)
        schema:
          type: integer
          default: 50
      - name: page
        in: query
        description: Starting page number (indexed from 0)
        schema:
          type: integer
          default: 0
      - name: sortBy
        in: query
        description: Sort results by this column. Null values of sort column are listed
          after non-nulls.
        required: true
        schema:
          type: string
          default: companyName
          enum:
          - companyName
          - countryCode
          - eventId
          - eventDate
      - name: portfolioId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authentication Token obtained from /authenticate. Can be expressed
          in the format "bearer tokenValue" or "tokenValue" alone."
        required: true
        schema:
          type: string
      responses:
        200:
          description: ""
          headers:
            X-Total-Count:
              description: Total number of matching records
              schema:
                type: integer
            Link:
              description: Link headers (see https://tools.ietf.org/html/rfc5988#page-6)
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                example:
                  totalCount: 24
                  paging:
                    size: 2
                    prev: 1
                    next: 1
                    last: 11
                  data:
                  - company:
                      id: ES-0-436776
                      safeNumber: ES01481829
                      name: BANK
                      countryCode: ES
                      portfolioId: 18707
                      portfolioName: Data
                    eventId: 46762582
                    eventDate: ""
                    newValue: 33 new name
                    oldValue: 21name
                    createdDate: ""
                    notificationEventId: 754983
                    ruleCode: 104
                    ruleName: Company Name
                    ruleText: Some text about the rule
          x-amf-mediaType: application/json
        400:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Bad request
          x-amf-mediaType: application/json
        403:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Access forbidden
          x-amf-mediaType: application/json
        404:
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  message: NotificationEvent resource not found
          x-amf-mediaType: application/json
      x-amf-queryParameters:
        endDate:
[...]
